extend /_layout.pug

mixin color(color)
	span(style=`color: ${color};`) ■

mixin img(src, width)
	a(href=src): img(src=src, width=width)

block head
	-
		const title = "硯と盈"
		const tags = ["language=ja"]

	include ../_data.pug

block main
	ul
		li #[+ruby("本", "ホヌ")]pageは#[+ruby("硯", "すずり")]と#[+ruby("盈", "みつる")]を#[+ruby("描", "か")]かむとし#[+ruby("給", "たま")]ふ#[+ruby("日本語", "ニツホヌコ゚")]#[+ruby("話者", "ワシャ")]に#[+ruby("要約", "イウヤク")]したるものに#[+ruby("侍", "はべ")]り
		li #[+ruby("曖昧", "アイマイ")]なる#[+ruby("點", "テヌ")]は#[+ruby("作者", "サクシャ")]が#[+ruby("繪", "ヱ")]を#[+ruby("描", "か")]かれざるゆゑの#[+ruby("限界", "ゲヌカイ")]なれば#[+ruby("描", "か")]き#[+ruby("給", "たま")]ふかたの#[+ruby("補完", "ホカン")]に#[+ruby("委", "ゆだ")]ね#[+ruby("侍", "はべ")]り

	+section("畫像")
		.tile
			+section("12018-337")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">わかんなかったとこは, 捏造した <a href="https://t.co/MPDLpSVi1Q">pic.twitter.com/MPDLpSVi1Q</a></p>&mdash; 一人 (@nasu_zoi) <a href="https://twitter.com/nasu_zoi/status/1069800047636856832?ref_src=twsrc%5Etfw">2018年12月4日</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				+img("/suzuli-mitulu/image/2018-12-04.jpg")

			+section("12019-198")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; ſumı (@smiqy) <a href="https://twitter.com/smiqy/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12019-206")
				p @AI67448472
				+img("/suzuli-mitulu/image/2019-07-26.jpg")

			+section("12020-283")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://twitter.com/TOS?ref_src=twsrc%5Etfw">@tos</a> 盈君 <a href="https://t.co/BbstJTFwK5">https://t.co/BbstJTFwK5</a> <a href="https://t.co/K5B93wGDQq">pic.twitter.com/K5B93wGDQq</a></p>&mdash; suzurı ıs my orıgınal character. (@smiqy) <a href="https://twitter.com/smiqy/status/1314648291636703232?ref_src=twsrc%5Etfw">October 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12020-344")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">skeb納品しましたーーー！！！！！リクエストありがとうございます！！！！！目隠れ髭は最高だな………今週の標語は「そのちんちん透けるよ」です<a href="https://t.co/qvVdZyiJ5e">https://t.co/qvVdZyiJ5e</a> <a href="https://twitter.com/hashtag/Skeb?src=hash&amp;ref_src=twsrc%5Etfw">#Skeb</a> <a href="https://twitter.com/hashtag/Commission?src=hash&amp;ref_src=twsrc%5Etfw">#Commission</a> <a href="https://twitter.com/skeb_jp?ref_src=twsrc%5Etfw">@skeb_jp</a>より <a href="https://t.co/kE4mOPkESK">pic.twitter.com/kE4mOPkESK</a></p>&mdash; たま魂👼 (@mkotan) <a href="https://twitter.com/mkotan/status/1337004643235160064?ref_src=twsrc%5Etfw">December 10, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12020-364")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://t.co/57X83srnGH">https://t.co/57X83srnGH</a><br>素鉄（<a href="https://t.co/u94AW2qNF8">https://t.co/u94AW2qNF8</a>）先生に納品頂いた硯君, めっちゃ好い</p>&mdash; 初夏の夜風の涼しさ (@smiqy) <a href="https://twitter.com/smiqy/status/1344210173661835265?ref_src=twsrc%5Etfw">December 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12021-128")
				<blockquote class="twitter-tweet" data-theme="dark">><p dir="ltr">硯君納品頂いた! 有り難うございました!! <a href="https://t.co/oeXk9yIMRz">https://t.co/oeXk9yIMRz</a></p>&mdash; хлоод бризи ноцни лꙗта вчєсна (@sumiqj) <a href="https://twitter.com/sumiqj/status/1391332944501829633?ref_src=twsrc%5Etfw">May 9, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


			+section("12021-199")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">れんちゅ <a href="https://t.co/sG1zv9pJIJ">pic.twitter.com/sG1zv9pJIJ</a></p>&mdash; 絹豆腐📛 (@momentoufuR18) <a href="https://twitter.com/momentoufuR18/status/1416882380334243841?ref_src=twsrc%5Etfw">July 18, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

	+section("概要")
		table.top.center
			tr
				th
				td
					img.logo.center(src="/suzuli-mitulu/image/suzuli.svg")
				td
					img.logo.center(src="/suzuli-mitulu/image/mitulu.svg")
			tr
				th 名
				td: ul
					li 硯
					li suzuli (ja, [sɯzɯɾi])
				td: ul
					li 盈
					li mitulu (ja, [mitɯɾɯ])
			tr
				th 畫像
				td(style="text-align: center;")
					<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; ſumı (@smiqy) <a href="https://twitter.com/smiqy/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				td(style="text-align: center;")
					<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://twitter.com/TOS?ref_src=twsrc%5Etfw">@tos</a> 盈君 <a href="https://t.co/BbstJTFwK5">https://t.co/BbstJTFwK5</a> <a href="https://t.co/K5B93wGDQq">pic.twitter.com/K5B93wGDQq</a></p>&mdash; suzurı ıs my orıgınal character. (@smiqy) <a href="https://twitter.com/smiqy/status/1314648291636703232?ref_src=twsrc%5Etfw">October 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			tr
				th 年齡
				for p in [suzuli, mitulu]
					td #{p.age}歳 (人類紀元#{p.birthYear}年#{p.birthDay}日生まれ)
			tr
				th 身長/m
				for p in [suzuli, mitulu]
					td #{p.heightM}
			tr
				th 體質量/kg
				for p in [suzuli, mitulu]
					td #{p.weightKg}
			tr
				th 性
				td: ul
					li 男性
					li 男性愛者
					li 受け寄り
					li 首弱し (愛撫や締め)
				td: ul
					li 男性
					li 男性愛者
					li 受け寄り
					li 胸弱し
			tr
				th 服裝
				td
					ul
						li 單純 (過度の裝飾を好まず)
						li 無彩色
				td (未定. 洒脱ならまほし.)
			tr
				th 外見
				td: ul
					li 顏: 無表情. じと目. 威壓的にはあらず.
					li 體: 健康的. 引き締まれる筋肉質. 色白.
					li 體毛: 薄墨色. 平均的な量なれど自ら薄くす.
					li 髮: 薄墨色. 右目隱れ.
					li 男根: 下反り. 勃起時半剝け. 210mm (但し數值は一例なり, 視覺上はなほ大きくとも良し).
					li 耳と<a href="https://en.wikipedia.org/wiki/Prince_Albert_(genital_piercing)">プリンスアルバート</a>のピアス有り
						ul
							li プリンスアルバートは陰莖小帶を切斷せず, 左手側に逸る
							li 全て着脱可能なれば繪にては省略せられ得. 殊に插入時は殆ど必ずプリンスアルバートを外す.
					<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">案 <a href="https://t.co/eIolPAAQs7">pic.twitter.com/eIolPAAQs7</a></p>&mdash; SUMI XINM (@sumiQj) <a href="https://twitter.com/sumiQj/status/1239962725746454528?ref_src=twsrc%5Etfw">March 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				td: ul
					li 顏: 童顔. 太め吊り眉. 垂れ目. 顎髭. 惡戲めける笑顔.
					li 體: 健康的, 筋肉質かつ大柄.
					li 體毛: 黑. やや毛深め.
					li 髮: 黑. 兩目隱れなれど左目見𛀁隱れす. やや癖毛.
					li 男根: 上反り. 勃起時半剝け. 180mm (但し數值は一例なり, 視覺上はなほ大きくとも良し).
			tr
				th 自稱
				td: ul
					li 日常にては "わたし"
					li 親しき人の前や性交中は "僕"
				td 僕
			tr
				th 他方の呼び方
				td ミツル
				td スズリ君
			tr
				th 所在
				td(colspan=2) 日本, 武蔵縣 (我々の世界に言ふ東京都)
			tr
				th 言語
				td: ul
					li 日本語 (共通語)
					li 英語 (アメリカ)
					li 華語
				td: ul
					li 日本語 (共通語と京阪式アクセントの混淆)
					li 英語 (イギリス)
					li ロシア語
			tr
				th 身分
				td 大學院生 M1 (理論計算機科學)
				td 大學生 B3 (數學)
			tr
				th 趣味
				td: ul
					li プログラミング
					li ベース
					li 讀書 (SF)
					li 乱交
					li 大麻
					li LSD
				td: ul
					li 語學
					li ピアノ
					li 映畫鑑賞
					li 筋力トレーニング
					li 大麻
					li 酒 (弱し)
			tr
				th 性格
				td: ul
					li 論理的
					li 冷静
					li 獨立不羈
					li 快樂主義
					li 進みて人と關はらざれど敢へて避けるわけにもあらず. 頼まらば優しく協力すれば研究室の同輩後輩には慕はれり.
				td: ul
					li 論理的
					li 潑溂
					li 社交的
					li 一途
					li 人と関はるを好めば交友關係廣し. 關係を保たむがため奔走する己を時折自嘲す.
			tr
				th 關係
				td(colspan=2): ul
					li 葦原大學 (武蔵縣) の先輩後輩
					li 盈が硯を連れ出づる形にてよく遊ぶ. 硯宅にて泊まるも多し. 映畫をよく觀る.
					li 言語や數學の勉強會を偶に開く
					li 硯は盈の活潑さや未知への積極性を, 盈は硯の確乎たる自我や思想を, それぞれ尊敬す
					li 約1回/4日の頻度にて性交す. 約3/4の比にて硯が攻めとなる. 攻め受けに依らず硯が主導しがち.

	+section("注意")
		ul
			li #[+ruby("以下", "イゲ")]を#[+ruby("除", "のぞ")]きいかなる#[+ruby("副次的", "フクジテク")]#[+ruby("創作物", "シャウ゚サクモツ")]も#[+ruby("歡迎", "カヌキ゚ャウ゚")]し#[+ruby("侍", "はべ")]り.
			li #[+ruby("禁止", "キムシ")]: character#[+ruby("名稱", "ミャウショウ゚")]の#[+ruby("不記載", "フキザイ")]または#[+ruby("伏", "ふ")]せ#[+ruby("字", "ジ")]や#[+ruby("暗號", "オムガウ")]の#[+ruby("使用", "シヨウ゚")]による#[+ruby("檢索性", "ケヌサクシャウ゚")]の#[+ruby("阻礙", "ショカ゚イ")]
			li 禁止†: #[+ruby("性別", "シャウ゚ベツ")], #[+ruby("國籍", "コクジャク")], #[+ruby("年齡", "ネンリャウ゚")]などに#[+ruby("基", "もと")]づく#[+ruby("差別的", "サベツテク")]なる#[+ruby("限定", "ゲヌヂャウ゚")]#[+ruby("公開", "クウ゚カイ")] (#[+ruby("金錢", "キムゼヌ")]に#[+ruby("基", "もと")]づくものは#[+ruby("可", "カ")]とし#[+ruby("侍", "はべ")]り)
			li 禁止†: #[+ruby("性器", "シャウ゚キ")]の#[+ruby("檢閱", "ケムエツ")] (mosaic, #[+ruby("塗", "ぬ")]り#[+ruby("潰", "つぶ")]し)
			li #[+ruby("非推獎", "ヒスイシャウ゚")]: #[+ruby("乳房", "ニュウバウ゚")]の#[+ruby("賦予", "フヨ")]
			li 非推獎: #[+ruby("下脣", "したくちびる")]に#[+ruby("線", "セン")]を#[+ruby("描", "か")]き#[+ruby("厚", "あつ")]みを#[+ruby("持", "も")]たす

		p †#[+ruby("公開", "クウ゚カイ")]platformの#[+ruby("規約", "キヤク")]に#[+ruby("要請", "イウシャウ゚")]せらるばあひを#[+ruby("除", "のぞ")]き#[+ruby("侍", "はべ")]り
