extend /_layout.pug

mixin color(color)
	span(style=`color: ${color};`) ■

mixin img(src, width)
	a(href=src): img(src=src, width=width)

block head
	-
		const title = "硯と盈"
		const tags = ["language=ja"]

	include ../_data.pug

block main
	ul
		li 本頁は, 硯と盈を描かむとされる日本語話者に, <a href="../">../</a>を日本語で要約したものです
		li 曖昧な點は作者が繪を描かれない故の限界であり, 描かれる方の補完に委ねます

	+section("概要")
		table.top.center
			tr
				th
				td
					img.logo.center(src="/suzuli-mitulu/image/suzuli.svg")
				td
					img.logo.center(src="/suzuli-mitulu/image/mitulu.svg")
			tr
				th 名
				td: ul
					li 硯
					li suzuli (ja, [sɯzɯɾi])
				td: ul
					li 盈
					li mitulu (ja, [mitɯɾɯ])
			tr
				th 畫像
				td(style="text-align: center;")
					<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; ſumı (@smiqy) <a href="https://twitter.com/smiqy/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				td(style="text-align: center;")
					<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://twitter.com/TOS?ref_src=twsrc%5Etfw">@tos</a> 盈君 <a href="https://t.co/BbstJTFwK5">https://t.co/BbstJTFwK5</a> <a href="https://t.co/K5B93wGDQq">pic.twitter.com/K5B93wGDQq</a></p>&mdash; suzurı ıs my orıgınal character. (@smiqy) <a href="https://twitter.com/smiqy/status/1314648291636703232?ref_src=twsrc%5Etfw">October 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			tr
				th 年齡
				for p in [suzuli, mitulu]
					td #{p.age}歳 (人類紀元#{p.birthYear}年#{p.birthDay}日生まれ)
			tr
				th 身長/m
				for p in [suzuli, mitulu]
					td #{p.heightM}
			tr
				th 體質量/kg
				for p in [suzuli, mitulu]
					td #{p.weightKg}
			tr
				th 所在
				td(colspan=2) 日本, 武蔵縣 (我々の世界で言ふ東京都)
			tr
				th 身分
				td 大學院生 M1 (理論計算機科學)
				td 大學生 B3 (數學)
			tr
				th 言語
				td: ul
					li 日本語 (共通語)
					li 英語 (アメリカ)
					li 華語
				td: ul
					li 日本語 (共通語と京阪式アクセントの混淆)
					li 英語 (イギリス)
					li ロシア語
			tr
				th 性
				td: ul
					li 男性
					li 男性愛者
					li 受け寄り
					li 首が弱い (愛撫や締め)
				td: ul
					li 男性
					li 男性愛者
					li 受け寄り
					li 胸が弱い
			tr
				th 趣味
				td: ul
					li プログラミング
					li ベース
					li 讀書 (SF)
					li 乱交
					li 大麻
					li LSD
				td: ul
					li 語學
					li ピアノ
					li 映畫鑑賞
					li 筋力トレーニング
					li 大麻
					li 酒 (弱い)
			tr
				th 自稱
				td: ul
					li 日常では "わたし"
					li 親しい人の前や性交中は "僕"
				td 僕
			tr
				th 他方の呼び方
				td ミツル
				td スズリ君
			tr
				th 服裝
				td
					ul
						li 單純 (過度の裝飾を好まない)
						li 無彩色
				td (未定. 洒落て居てほしい.)
			tr
				th 外見
				td: ul
					li 顏: 無表情. じと目. 威壓的ではない.
					li 體: 健康的. 引き締まった筋肉質. 色白.
					li 體毛: 薄墨色. 平均的な量だが自分で薄くする.
					li 髮: 薄墨色. 右目隱れ.
					li 男根: 下反り. 勃起時半剝け. 210mm (但し數值は一例であり, 視覺上は大きくとも良い).
					li 耳と<a href="https://en.wikipedia.org/wiki/Prince_Albert_(genital_piercing)">プリンスアルバート</a>のピアス有り
						ul
							li プリンスアルバートは陰莖小帶を切斷せず, 左手側に逸れる
							li 全て着脱可能だから繪では省略され得る. 特に插入時は殆ど必ずプリンスアルバートを外す.
					<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">案 <a href="https://t.co/eIolPAAQs7">pic.twitter.com/eIolPAAQs7</a></p>&mdash; SUMI XINM (@sumiQj) <a href="https://twitter.com/sumiQj/status/1239962725746454528?ref_src=twsrc%5Etfw">March 17, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				td: ul
					li 顏: 童顔. 太め吊り眉. 垂れ目. 顎髭. 惡戲っぽい笑顔.
					li 體: 健康的, 筋肉質で大柄.
					li 體毛: 黑. やや毛深め.
					li 髮: 黑. 兩目隱れだが左目が見𛀁隱れ. やや癖毛.
					li 男根: 上反り. 勃起時半剝け. 180mm (但し數值は一例であり, 視覺上は幾ら大きくとも良い).
			tr
				th 性格
				td: ul
					li 論理的
					li 冷静
					li 獨立不羈
					li 快樂主義
					li 進んで人と關はらないが敢へて避けるわけでもない. 頼まれれば優しく協力するので研究室の同輩後輩には慕はれてゐる.
				td: ul
					li 論理的
					li 潑溂
					li 社交的
					li 一途
					li 人と関はるのが好きで交友關係が廣い. 氣を遣ひすぎる自分を屡淺はかに感ずる.
			tr
				th 關係
				td(colspan=2): ul
					li 葦原大學 (武蔵縣) の先輩後輩
					li 盈が硯を連れ出す形でよく遊ぶ. 硯宅での泊まりも多い. 映畫をよく觀る.
					li 言語や數學の勉強會を偶に開く
					li 硯は盈の活潑さや未知への積極性を, 盈は硯の確乎とした自我や思想を, それぞれ尊敬する
					li 約1回/4日の頻度で性交する. 約3/4の比で硯が攻めとなる. 攻め受けに依らず硯が主導しがち.

	+section("注意")
		ul
			li 以下を除きいかなる副次的創作物も歡迎されます.
			li 禁止: キャラクタ名稱の不記載または伏せ字や暗號の使用による檢索性の阻碍
			li 禁止†: 性別, 國籍, 年齡などに基づく差別的な限定公開 (金錢に基づく物は可とします)
			li 禁止†: 性器の檢閲 (モザイク, 塗り潰し)
			li 非推奬: 乳房の賦與
			li 非推奬: 下脣に線を描き厚みを持たせる

		p †公開platformの規約に要請さる場合を除きます

	+section("資料")
		.tile
			+section("12018-337")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">わかんなかったとこは, 捏造した <a href="https://t.co/MPDLpSVi1Q">pic.twitter.com/MPDLpSVi1Q</a></p>&mdash; 一人 (@nasu_zoi) <a href="https://twitter.com/nasu_zoi/status/1069800047636856832?ref_src=twsrc%5Etfw">2018年12月4日</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				+img("/suzuli-mitulu/image/2018-12-04.jpg")

			+section("12019-198")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; ſumı (@smiqy) <a href="https://twitter.com/smiqy/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12019-206")
				p @AI67448472
				+img("/suzuli-mitulu/image/2019-07-26.jpg")

			+section("12020-283")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://twitter.com/TOS?ref_src=twsrc%5Etfw">@tos</a> 盈君 <a href="https://t.co/BbstJTFwK5">https://t.co/BbstJTFwK5</a> <a href="https://t.co/K5B93wGDQq">pic.twitter.com/K5B93wGDQq</a></p>&mdash; suzurı ıs my orıgınal character. (@smiqy) <a href="https://twitter.com/smiqy/status/1314648291636703232?ref_src=twsrc%5Etfw">October 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12020-344")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">skeb納品しましたーーー！！！！！リクエストありがとうございます！！！！！目隠れ髭は最高だな………今週の標語は「そのちんちん透けるよ」です<a href="https://t.co/qvVdZyiJ5e">https://t.co/qvVdZyiJ5e</a> <a href="https://twitter.com/hashtag/Skeb?src=hash&amp;ref_src=twsrc%5Etfw">#Skeb</a> <a href="https://twitter.com/hashtag/Commission?src=hash&amp;ref_src=twsrc%5Etfw">#Commission</a> <a href="https://twitter.com/skeb_jp?ref_src=twsrc%5Etfw">@skeb_jp</a>より <a href="https://t.co/kE4mOPkESK">pic.twitter.com/kE4mOPkESK</a></p>&mdash; たま魂👼 (@mkotan) <a href="https://twitter.com/mkotan/status/1337004643235160064?ref_src=twsrc%5Etfw">December 10, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12020-364")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://t.co/57X83srnGH">https://t.co/57X83srnGH</a><br>素鉄（<a href="https://t.co/u94AW2qNF8">https://t.co/u94AW2qNF8</a>）先生に納品頂いた硯君, めっちゃ好い</p>&mdash; 初夏の夜風の涼しさ (@smiqy) <a href="https://twitter.com/smiqy/status/1344210173661835265?ref_src=twsrc%5Etfw">December 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("12021-128")
				<blockquote class="twitter-tweet" data-theme="dark">><p dir="ltr">硯君納品頂いた! 有り難うございました!! <a href="https://t.co/oeXk9yIMRz">https://t.co/oeXk9yIMRz</a></p>&mdash; хлоод бризи ноцни лꙗта вчєсна (@sumiqj) <a href="https://twitter.com/sumiqj/status/1391332944501829633?ref_src=twsrc%5Etfw">May 9, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


			+section("12021-199")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">れんちゅ <a href="https://t.co/sG1zv9pJIJ">pic.twitter.com/sG1zv9pJIJ</a></p>&mdash; 絹豆腐📛 (@momentoufuR18) <a href="https://twitter.com/momentoufuR18/status/1416882380334243841?ref_src=twsrc%5Etfw">July 18, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
