html
  head
    script.
      document.addEventListener("DOMContentLoaded", () => {
        const [ta] = document.getElementsByTagName("textarea");
        const [div] = document.getElementsByTagName("div");

        const f = () => {
          window.location.href = `/?a=${encodeURIComponent(ta.value)}`;
        }

        ta.addEventListener("blur", f);
        if(new URLSearchParams(window.location.search).get("a") == null)
          f();
      });

    style.
      body {
        display: flex;
      }
      textarea, div {
        width: 50%;
        height: 100%;
        border: 1px solid;
        padding: 1em;
        font-family: "Noto Sans", sans-serif;
      }
      textarea {
        resize: none;
        outline: none;
        word-break: break-all;
      }
      div {
        display: inline-block;
        box-sizing: border-box;
        white-space: pre;
        border-left: none;
        overflow-y: auto;
      }
      .single {
        border-bottom: 1px solid;
        margin-left: 1px;
        margin-right: 1px;
      }

  body
    if a
      textarea= a
    else
      textarea.
        世界人權宣言　第一條
        人人生而自由，在尊嚴和權利上一律平等。
        他們賦有理性和良心，並應以兄弟關係的精神相對待。
    div
      for x in b
        if Array.isArray(x)
          if x.length == 1
            span.single= x[0]
          else
            select
              for y in x
                option= y
        else
          |#{x}