extend /_layout.pug

block head
	- const title = "japonsky"
	- const titleIsva = true

mixin ruby(main, over)
	<ruby>#{main}<rt>#{over}</rt></ruby>#{after}

mixin tds(xs)
	for x in xs
		td= x

block main
	p under construction
	// http://www.inagaki.nuie.nagoya-u.ac.jp/research/derivation_grammar.html

	p 空白の入れ方は未定。

	table
		caption 吾輩は猫である [夏目, 1905]
		-
			const xys =
				[ [ "吾輩は猫である。"
					, "vagaFai fa neco dearu." ]
				, [ "名前はまだ無い。"
					, "namae fa mada nai." ]
				, [ "どこで生まれたか頓と見當がつかぬ。"
					, "doco de umareta ca Ton to CenToŋ ga tucanu." ]
				, [ "何ても暗薄いじめじめした所でニャー〳〵泣いて居た事丈は記憶して居る。"
					, "nante mo curausui *zimezime*sita tocoro de *njaanjaa* na`citevita coto dace fa CiOc siteviru." ]
				, [ "吾輩はこゝで始めて人間といふものを見た。"
					, "vagaFai fa cocode fazimete NinGen to ifu mono vo mita." ]
				, [ "然もあとで聞くとそれは書生といふ人間で一番獰惡な種族であつたさうだ。"
					, "sicamo ato de cicu to sore fa SjoSeŋ to ifu NinGen de ItBan NaŋAc na SjuZoc deartasau da." ]
				, [ "此書生といふのは時々我々を捕へて煮て食ふといふ話である。"
					, "cono SjoSeŋ to ifu no fa tocidoci varevare vo tucamafete nite cufu to ifu fanasi dearu." ]
				, [ "然し其當時は何といふ考もなかつたから別段恐しいとも思はなかつた。"
					, "sicasi sono TaŋZi fa nan to ifu cangafe mo nacatta cara BetDan osorosii tomo omofanacarta." ]
				, [ "但彼の掌に載せられてスーと持ち上げられた時何だかフハフハした感じが有つた許りである。"
					, "tada care no tenofira ni noserarete *suu*to motiagerareta toci nandaca *fufafufa*sita Can-zi ga arta bacari dearu." ]
				, [ "掌の上で少し落ち付いて書生の顏を見たが所謂人間といふものゝ見始であらう。"
					, "tenofira no ue de sucosi otitu`cite SjoSeŋ no cafo vo mita ga ifajuru NinGen to ifu mono no mifazime deara`mu." ]
				, [ "此の時妙なものだと思つた感じが今でも殘つて居る。"
					, "cono toci Mjau na mono da to omofta Can-zi ga ima de mo nocorteviru" ]
				, [ "第一毛を以て裝飾されべき筈の顏がつる〳〵して丸で藥罐だ。"
					, "DaiIt ce vo motte SoŋSjoc sarebeci fazu no cafo ga *turuturu*site maru de JacCan da." ]
				,	[ "其後猫にも大分逢つたがこんな片輪には一度も出會はした事がない。"
					, "sonoGo neco ni mo DaiBun afta ga conna catava ni fa ItDo mo decufasita coto ga nai." ]
				, [ "加之顏の眞中が餘りに突起して居る。"
					, "nominarazu cafo no manaca ga amarini TotCi siteviru." ]
				, [ "そうして其穴の中から時々ぷう〳〵と烟を吹く。"
					, "sau site sono ana no naca cara tocidoci *puupuu*to cemuri vo facu." ]
				, [ "どうも咽せぽくて實に弱つた。"
					, "dou mo muse-focute Zit-ni jofarta." ]
				, [ "是が人間の飮む烟草といふものである事は漸く此頃知つた。"
					, "core ga NinGen no nomu tabaco to ifu mono dearu coto fa jaujacu cono goro sirta." ]
				]
		for xy in xys
			tr
				td= xy[0]
				td= xy[1]