extend /_layout.pug

block head
  - var title = "calendar"
  //script(src="calendar.js")
  script(src="script.js")
  link(rel="stylesheet", href="style.css")

block main
  +mySection("overview")
    p #{author.name}-calendar is a calendar almost every month in which has the same number of days.
    center
      table
        style.
          td { min-width: 32px; }
        tr
          each d, i in ["mon", "tue", "wed", "thu", "fri", "sat", "sun"]
            th #{i} <br/> #{d}
          th -1<br/>leap/year
        - for(let i = 0; i < 4; i ++)
          tr
            - for(let j = 0; j < 7; j ++)
              td(align="right")= i * 7  + j
            - if(i === 3)
              td(align="center") (28)

    p it has 13 months.
    center
      ol(start="0", align="left")#month
        li january
        li february
        li march
        li april
        li may
        li june
        li: em sol
        li july
        li august
        li september
        li october
        li november
        li december

    p
      | we call the day 28 in the month 12 (new year's eve) a 'year day',
      | and that in the month 6 in each leap year a 'leap day'.
      | no other month has the day 28.
      | now we have 28×13+1=365 days (+1 in leap years).
      | these ideas originate from
      em  International Fixed Calendar
    p
      | also, the calendar adds 10000 to the Gregorian calendar year,
      | which is the same scheme as
      em  Holocene calendar.

  +mySection("converter")
    p check to specify the date, or it shows the current date.
    center
      div
        input#isSpecified(type="checkbox")
        input#specified(type="datetime-local", value="1954-06-07T00:00")

      div#table-out
        table
          tr
            th(align="right") gregorian
            td(align="center", colspan="2")#gregorian
          tr
            td
            th dec
            th hex
          tr
            th(align="right") year
            td#year10
            td#year16
          tr
            th(align="right") day of year
            td#yearday10
            td#yearday16
          tr
            th(align="right") month
            td#month10
            td#month16
          tr
            th(align="right") day of month
            td#monthday10
            td#monthday16
          tr
            th(align="right") week
            td#week10
            td#week16
          tr
            th(align="right") day of week
            td#weekday10
            td#weekday16
          tr
            th(align="right") time of day
            td#daytime10
            td#daytime16
          tr
            th(align="right") informal
            td#informal10
            td#informal16
          tr
            th(align="right") formal
            td#formal10
            td#formal16
          tr
            th
            each b in [10, 16]
              td(align="center")
                a(
                  id=`tweet${b}`
                  , href=""
                  , onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
                  , rel="nofollow"
                  , class="twitter-link"
                  ) tweet
    div
      ul
        li the author prefers the hexadecimal notation to the decimal one.
        li we use slashes rather than hyphens as some year may take a negative value.
