extend /_layout.pug
include ../_common.pug

block head
	-
		const id = "Ğ¼Ğ¸Ñ‚ÑƒÑ€Ñƒ"
		const name = {
			han: ["ç›ˆ", "å†¬"],
			ja: ["mÄ±turu", "toÅ‹|fuju"],
			cmn: ["iÅ‹ÌŒ", "duÅ‹Ì"],
			yue: ["iÅ‹Ì€", "tuÅ‹Ì€"],
		};
		const title = id;
		const tags = ["draft"]

	link(href="../style.css", rel="stylesheet")

block main
	p #{id}ã¯#{author.id}ãŒä½œæˆã—ãŸäººæ ¼ã§ã™
	p <a href="../suzuri">ÑÑƒĞ·ÑƒÑ€Ğ¸</a>ã®å¾Œè¼©ã§å‹äººã§ã™

	+section("fact")
		p: em ã“ã‚Œã‚‰ã‚’è±«å‘Šç„¡ãè®Šæ›´ã—å¾—ã¾ã™

		ul
				li è­˜åˆ¥å­: #{id}
				li
					| åå‰:
					table
						for key in Object.keys(name)
							tr
								th.undoth= key
								td.undot= name[key][0]
								td.undot= name[key][1]
				li
					| å›ºæœ‰è‰²:&#x20;
					span(style="background-color: black; border: 1px solid;") black
					| ,&#x20;
					span(style="background-color: #0f0; color: black;") lÄ±me
				li å¹´é½¢: ÑÑƒĞ·ÑƒÑ€Ğ¸.age - 2
				li åœ‹ç±: æ—¥æœ¬
				li.undot è¨€èª: japanese, english, mandarin, russian, interslavic
				li æ•¸å­¸ç§‘ã®å­¸éƒ¨ç”Ÿ
				li èº«é•·: 1.85m
				li é«”è³ªé‡: 85kg
				li ãƒ”ã‚¢ã‚¹å­”: å³è€³ã®rob (ÑÑƒĞ·ÑƒÑ€Ğ¸ãŒç©ºã‘ãŸ)
				li é«ªè‰²: é»’
				li é«”æ¯›: æ¿ƒã„ã‚
				li é™°è–: 220mmãƒ»ã‚«ãƒªé«˜ãƒ»ä¸Šåã‚Š
				li ALDH2ã¯MMå‹
				li æ„›è®€æ›¸ã¯ã€å­˜åœ¨ã¨ç„¡ã€
				li èœé£Ÿä¸»ç¾©è€…
				li ï©Œæœƒè‡ªç”±ä¸»ç¾©è€…
				li cÄ±sgender, å…©æ€§æ„›è€… (å…¬é–‹), ç”·æ€§
				li monoamorÄ±st
				li å—
				li èƒ¸ãŒå¼±ã„
				li å¤§é«”2å›˜/é€±è‡ªæ…°ã™ã‚‹
				//li ç«¥è²ãƒ»åˆã‚ã¦ã®æ€§é«”é©—ã¯<a href="../suzuri">ÑÑƒĞ·ÑƒÑ€Ğ¸</a>ç›¸æ‰‹ã®å—ã§21æ­³ã®æ™‚

	+section("talk")
		a(href="https://twitter.com/search?q=(from%3Asumigv%20OR%20from%3Asumimq%20OR%20from%3Asmiqy)%20(%E3%83%9F%E3%83%84%E3%83%AB%20OR%20%E7%9B%88%20OR%20(%E5%BE%8C%E8%BC%A9%E5%90%9B%20%E5%81%87))%20since%3A2014-01-01%20until%3A2030-01-01") tweets
		p éå…¬å¼ãªã‚‚ã®ãªã®ã§åˆ¥è§£é‡‹ã‚’å¸¸ã«è¨±å®¹ã—ã¾ã™

	+section("art")
		ul
			li è‡ªç™¼çš„ã«æãæ–¹ã¸
				+for_volunteer
			li ä¾é ¼ã§æãæ–¹ã¸
				ul
					li ä½œè€…ãŒç¹ªã‚’æãã‚’å¾—ãªã„çˆ²ã«åˆ¤ã‚Šæ˜“ã„è¦ç¯„çš„ãªè³‡æ–™ã¯æœ‰ã‚Šã¾ã›ã‚“.
					li é–‹ç™¼æ®µéšã®çˆ²ã«é€ å½¢ã¯ç¢ºå®šã—ã¾ã›ã‚“. åŸºæœ¬çš„ã«æœ€æ–°ã‚’å„ªå…ˆã—ã¾ã™.
					li æ—¢å­˜è³‡æ–™ã¯, ãã‚Œã«å¾ãµã¨è¨€ãµã‚ˆã‚Šã¯ãã‚Œã‚’é€šã˜ã¦å¥½ã¿ã®ç”·ã‚’æãäº‹ã‚’æœ›ã¿ã¾ã™.
					li #{id}ã¨ã—ã¦æ„åœ–ã•ã‚ŒãŸã©ã®æåƒã‚‚#{id}ã¨ãªã‚Šã¾ã™. <a href="#fact">fact</a>ã«åã™ã‚‹ç‰©ã‚’å«ã‚ã„ã‹ãªã‚‹è§£é‡‹ã‚‚è¨±å®¹ã—ã¾ã™.
					li ä¸»è¦ãªè¦ç´ ã‚’æç¤ºã—ã¾ã™:
						ul
							li å¤ªã‚åŠã‚Šçœ‰. å‚ã‚Œç›®.
							li é«ª: å…©ç›®éš±ã‚Œã ãŒå·¦ç›®ã¯è¦‹ğ›€éš±ã‚Œã™ã‚‹. é»‘. è¼•ã„ç™–æ¯›.
							li æ€§å™¨: ä¸Šåã‚Š, å‹ƒèµ·æ™‚åŠå‰¥ã‘, 220mm (ä½†ã—æ•¸å€¤ã¯ç›®å®‰ã§ã‚ã‚Š, ï©¡è¦ºä¸Šã¯å¤§ãã„ã»ã©è‰¯ã, çˆ†æ ¹ã‚‚æ­¡è¿ã—ã¾ã™). <a href="../suzuri">ÑÑƒĞ·ÑƒÑ€Ğ¸</a>ã«ã¯åŠ£ã‚‹.
							li å¥åº·çš„, ç­‹è‚‰è³ªã§é«”æ ¼ãŒè‰¯ã„. <a href="../suzuri">ÑÑƒĞ·ÑƒÑ€Ğ¸</a>ã‚ˆã‚Šå¤§ãã„.

		.tile
			+section("2020-10-15")
				p <a href="https://twitter.com/intent/user?user_id=948471113448792064">çµ¹è±†è…</a>å›
				img(src="image/2020-10-15.png")

			+section("2020-10-9")
				ul
					li é«ªã¯è¼•ã„ç™–æ¯› (å‡)
					li æœãŒæ€ã²æµ®ã‹ã°ãšå›°ã£ãŸ
					li å·¦ç›®ã¯å¤§æŠµè¦‹ğ›€ãªã„
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://twitter.com/TOS?ref_src=twsrc%5Etfw">@tos</a> ç›ˆå› <a href="https://t.co/BbstJTFwK5">https://t.co/BbstJTFwK5</a> <a href="https://t.co/K5B93wGDQq">pic.twitter.com/K5B93wGDQq</a></p>&mdash; suzurÄ± Ä±s my orÄ±gÄ±nal character. (@smiqy) <a href="https://twitter.com/smiqy/status/1314648291636703232?ref_src=twsrc%5Etfw">October 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			//+section("2020-9-9")
				ul
					li æœãŒæ€ã²æµ®ã‹ã°ãšå›°ã£ãŸ
					li é«ªã¯è¼•ã„ç™–æ¯›ãªæ°£ãŒã™ã‚‹
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">èº«é•·å·® (åˆ—ã¹ãŸã ã‘) <a href="https://t.co/5rReHHdnqA">pic.twitter.com/5rReHHdnqA</a></p>&mdash; åˆå¤ã®å¤œé¢¨ã®æ¶¼ã—ã• (@smiqy) <a href="https://twitter.com/smiqy/status/1303539039505506305?ref_src=twsrc%5Etfw">September 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr"><a href="https://twitter.com/TOS?ref_src=twsrc%5Etfw">@tos</a> <a href="https://t.co/ioHVgV2BKi">pic.twitter.com/ioHVgV2BKi</a></p>&mdash; åˆå¤ã®å¤œé¢¨ã®æ¶¼ã—ã• (@smiqy) <a href="https://twitter.com/smiqy/status/1304978773935177728?ref_src=twsrc%5Etfw">September 13, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("2020-8-23")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">å¾Œè¼©å›ã®è¡¨æƒ… è€ƒ <a href="https://t.co/I2JEPNS3nt">pic.twitter.com/I2JEPNS3nt</a></p>&mdash; åˆå¤ã®å¤œé¢¨ã®æ¶¼ã—ã• (@smiqy) <a href="https://twitter.com/smiqy/status/1297245606977523712?ref_src=twsrc%5Etfw">August 22, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			//+section("2020-8-22")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">- ç¡¯å›ã®è¡¨æƒ… è€ƒ<br>- å¾Œè¼©å› <a href="https://t.co/ngIBx6kHit">pic.twitter.com/ngIBx6kHit</a></p>&mdash; åˆå¤ã®å¤œé¢¨ã®æ¶¼ã—ã• (@smiqy) <a href="https://twitter.com/smiqy/status/1296894217789136896?ref_src=twsrc%5Etfw">August 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				p å¾Œã‹ã‚‰è¦‹ã‚‹ã¨ã‹ã‚ã„ããªã„

			//+section("2020-05-31")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">å®Œ <a href="https://t.co/sZA5QWL5K9">pic.twitter.com/sZA5QWL5K9</a></p>&mdash; Ğ¡Ğ£ĞœĞ˜ (@SumiMq) <a href="https://twitter.com/SumiMq/status/1266767231813214208?ref_src=twsrc%5Etfw">May 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("2020-04-14")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">ã‚¹ã‚ºãƒªå›ã®å¾Œè¼©å›ã“ã¨ãƒŸãƒ„ãƒ«å›ã€ã“ã®æ„Ÿã˜ã§è¡Œãã¾ã™ <a href="https://t.co/IzSj30XZYI">pic.twitter.com/IzSj30XZYI</a></p>&mdash; ğ”­ğ”¥ğ”ğ”©ğ”©ğ”²ğ”°, ğ” ğ”ğ”«ğ”«ğ”ğ”Ÿğ”¦ğ”°, ğ”±ğ”¥ğ”ğ”«ğ”ğ”±ğ”¬ğ”° (@smgvn) <a href="https://twitter.com/smgvn/status/1250046521636085761?ref_src=twsrc%5Etfw">April 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
