extend /_layout.pug

block head
	-
		const name =
			{ id: "Ğ¼Ğ¸Ñ‚ÑƒÑ€Ñƒ"
			, han: ["ç›ˆ", "å†¬"]
			, ja: ["mituru", "toÅ‹"]
			};
		const title = name.id;
		const tags = ["draft"]

	link(href="../style.css", rel="stylesheet")

block main
	p #{name.id}ã¯#{author.name.id}ãŒä½œæˆã—ãŸäººæ ¼ã§ã™
	p
		a(href="../suzuri") ÑÑƒĞ·ÑƒÑ€Ğ¸
		| ã®å¾Œè¼©ã§å‹äººã§ã™

	+section("fact")
		p: em ã“ã‚Œã‚‰ã¯è±«å‘Šç„¡ãè®Šæ›´ã•ã‚Œå¾—ã¾ã™

		ul
				li è­˜åˆ¥å­: #{name.id}
				li
					| åå‰:
					table
						for key in ["han", "ja"]
							tr
								th= key
								td= name[key][0]
								td= name[key][1]
				li å¹´é½¢: ÑÑƒĞ·ÑƒÑ€Ğ¸ - 2
				li åœ‹ç±: æ—¥æœ¬
				li è¨€èª: ja, en, zh, ru, pl
				li æ•¸å­¸ç§‘ã®å­¸éƒ¨ç”Ÿ
				li èº«é•·: 1.85m
				li é«”è³ªé‡: 80kg
				li ãƒ”ã‚¢ã‚¹å­”: å³è€³ã®rob (ÑÑƒĞ·ÑƒÑ€Ğ¸ãŒç©ºã‘ãŸ)
				li é«ªè‰²: é»’
				li é«”æ¯›: æ¿ƒã„ã‚
				li é™°è–: 220mmãƒ»ã‚«ãƒªé«˜ãƒ»ä¸Šåã‚Š
				li ALDH2ã¯MMå‹
				li æ„›è®€æ›¸: ã€å­˜åœ¨ã¨ç„¡ã€
				li èœé£Ÿä¸»ç¾©è€…
				li ï©Œæœƒè‡ªç”±ä¸»ç¾©è€…
				li åå‡ºç”Ÿä¸»ç¾©è€… (ÑÑƒĞ·ÑƒÑ€Ğ¸ã®å½±éŸ¿)
				li cisgender, å…©æ€§æ„›è€… (å…¬é–‹), ç”·æ€§
				li monoamorist
				li å—
				li èƒ¸ãŒå¼±ã„
				li å¤§é«”2å›˜/é€±è‡ªæ…°ã™ã‚‹
				//li ç«¥è²ãƒ»åˆã‚ã¦ã®æ€§é«”é©—ã¯<a href="../suzuri">ÑÑƒĞ·ÑƒÑ€Ğ¸</a>ç›¸æ‰‹ã®å—ã§21æ­³ã®æ™‚

	+section("talk")
		a(href="https://twitter.com/search?q=(from%3Asumigv%20OR%20from%3Asumimq)%20(%E3%83%9F%E3%83%84%E3%83%AB%20OR%20%E7%9B%88%20OR%20(%E5%BE%8C%E8%BC%A9%E5%90%9B%20%E5%81%87))%20since%3A2014-01-01%20until%3A2030-01-01") tweets
		p éå…¬å¼ãªã‚‚ã®ãªã®ã§åˆ¥è§£é‡‹ã¯å¸¸ã«è¨±å®¹ã•ã‚Œã¾ã™

	+section("art")
		p é–‹ç™¼æ®µéšã®çˆ²ã«é€ å½¢ã¯ç¢ºå®šã—ã¾ã›ã‚“

		.tile
			+section("2020-08-23")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">å¾Œè¼©å›ã®è¡¨æƒ… è€ƒ <a href="https://t.co/I2JEPNS3nt">pic.twitter.com/I2JEPNS3nt</a></p>&mdash; åˆå¤ã®å¤œé¢¨ã®æ¶¼ã—ã• (@smiqy) <a href="https://twitter.com/smiqy/status/1297245606977523712?ref_src=twsrc%5Etfw">August 22, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+section("2020-08-22")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">- ç¡¯å›ã®è¡¨æƒ… è€ƒ<br>- å¾Œè¼©å› <a href="https://t.co/ngIBx6kHit">pic.twitter.com/ngIBx6kHit</a></p>&mdash; åˆå¤ã®å¤œé¢¨ã®æ¶¼ã—ã• (@smiqy) <a href="https://twitter.com/smiqy/status/1296894217789136896?ref_src=twsrc%5Etfw">August 21, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			//+section("2020-05-31")
				p è©¦æ¡ˆã€‚é«­ã¯ç„¡ã„æ–¹ãŒæ¨™æº–ã€‚
				//<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">å®Œ <a href="https://t.co/sZA5QWL5K9">pic.twitter.com/sZA5QWL5K9</a></p>&mdash; Ğ¡Ğ£ĞœĞ˜ (@SumiMq) <a href="https://twitter.com/SumiMq/status/1266767231813214208?ref_src=twsrc%5Etfw">May 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				img(src="image/2020-05-25.png", width="400")
				img(src="image/2020-05-25'.png", width="400")

			+section("2020-04-14")
				<blockquote class="twitter-tweet" data-theme="dark"><p dir="ltr">ã‚¹ã‚ºãƒªå›ã®å¾Œè¼©å›ã“ã¨ãƒŸãƒ„ãƒ«å›ã€ã“ã®æ„Ÿã˜ã§è¡Œãã¾ã™ <a href="https://t.co/IzSj30XZYI">pic.twitter.com/IzSj30XZYI</a></p>&mdash; ğ”­ğ”¥ğ”ğ”©ğ”©ğ”²ğ”°, ğ” ğ”ğ”«ğ”«ğ”ğ”Ÿğ”¦ğ”°, ğ”±ğ”¥ğ”ğ”«ğ”ğ”±ğ”¬ğ”° (@smgvn) <a href="https://twitter.com/smgvn/status/1250046521636085761?ref_src=twsrc%5Etfw">April 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
