extend /_layout.pug

block head
  - const title = "tibetan"
  - const tags = ["draft"]


block main
  +section("orthography")
    a(href="https://unicode.org/udhr/d/udhr_bod.html") UDHR
    .textareas
      textarea.
        ༄༅༎ ཡོངས་ཁྱབ་གསལ་བསྒྲགས་འགྲོ་བ་མིའི་ཐོབ་ཐང༌།
        མཐའ་དོན་གཏན་ལ་ཕབ་པའི་ཡིག་ཆ། མཉམ་སྦྲེལ་རྒྱལ་ཚོགས་ཀྱི་ཡོངས་ཁྱབ་དྲིལ་བསྒྲགས་ལས་ཁང་༎

        སྔོན་བརྗོད།
        ༈ འགྲོ་བ་མིའི་ཁྱིམ་ཚང་ཁག་གི་ནང་མི་ཡོངས་ལ་རང་བཞིན་ཉིད་ནས་ཡོད་པའི་ཆེ་མཐོངས་དང་འདྲ་མཉམ། སུས་ཀྱང་འཕྲོག་ཏུ་མི་རུང་བའི་ཐོབ་ཐང་བཅས་ཀྱི་གནད་དོན་རྟོགས པར་བྱེད་པ་ནི། འཛམ་གླིང་ནང་གི་རང་དབང་དང༌། དྲང་བདེན། ཞི་བདེ་བཅས་ཀྱི་རྣང་གཞི་ལྟེ་བ་ཡིན།
        འགྲོ་བ་མིའི་ཐོབ་ཐང་ལ་སྣང་ཆུང་ཁྱད་གསོད་དང༌། དམའ་འབེབས་བྱས་པ་ལ་བརྟེན་ནས་ཀླ་ཀློའི་བྱེད་སྟངས་ཤིག་བྱུང་ཡོད་པ་སྟེ། དེ་ནི་མིའི་རིགས་ཀྱི་བསམ་ཚུལ་བཟང་པོ་དང་མི་མཐུན་པའི་གནས་ཚུལ་ཞིག་བྱུང་བ་རེད།འགྲོ་བ་མིའི་རིགས་ལ་གཏམ་བརྗོད་དང༌། དད་མོས་ཀྱི་རང་དབང་སྐུང་སྐྱོབ། དགོས་མཁོ་སྒྲུབ་པའི་རང་དབང་བཅས་ལ་ལོངས་སུ་སྤྱད་ཆོག་པའི་འཛམ་གླིང་ཞིག་འབྱུང་ཐབས་དེ་ནི་སྤྱིར་བཏང་མི་མང་ཡོངས་ཀྱི་རེ་འདོད་ཆེ་ཤོས་ཤིག་ཏུ་ངེས་པ་རྒྱ་ཁྱབ་ཡོངས་སུ་གྲགས་པ་ཡིན།
        སྐྱེ་བོ་དག་གིས་འུ་ཐུག་ཐབས་ཟད་ཀྱིས་རྐྱེན་པས་བཙན་དབང་དང༌། གཉའ་གནོན་ལ་ངོ་རྒོལ་སྒེར་ལངས་བྱེད་པའི་མཐའ་མའི་བྱ་ཐབས་ལག་བསྟར་མི་དགོས་པ་ཞིག་བྱེད་ན། དེ་ནི་ཁྲིམས་ལུགས་དྲང་འཛིན་གྱི་སྒོ་ནས་འགྲོ་བ་མིའི་ཐོབ་ཐང་ལ་སྲུང་བརྩི་བྱེད་པ་དེ་རང་གལ་གནད་ཆེ་བ་ཡིན།
        རྒྱལ་ཁབ་ཁག་གི་དབར་མཛའ་མཐུན་གྱི་འབྲེལ་བ་ཡར་རྒྱས་གོང་འཕེལ་གཏོང་རྒྱུར་འབད་བརྩོན་ཆེ་བསྐྱེད་དགོས་པ་དེ་ནི་ཧ་ཅང་གལ་གནད་ཆེ་བ་ཞིག་ཡིན།
        མཉམ་སྦྲེལ་རྒྱལ་ཚོགས་ཀྱི་མི་མང་རྣམས་ཀྱི་རང་དབང་རྒྱ་ཆེའི་ཐོག་ནས་སྒྲིག་ཡིག་གི་གཞི་རྩའི་རང་དབང་དང༌། འགྲོ་བ་མིའི་ཐོབ་ཐང༌། འགྲོ་བ་མིའི་ཆེ་མཐོངས་དང་འོས་མཐོངས། ཕོ་མོ་འདྲ་མཉམ་བཅས་ལ་བློ་མོས་གདེངས་འཁེལ་གྱིས་སྤྱི་ཚོགས་ཡར་རྒྱས་གོང་སྤེལ་ལ་ནུས་ཤུགས་འདོན་པ་དང༌། འཚོ་བའི་གནས་ཚད་ལེགས་སུ་གཏོང་རྒྱུར་སེམས་ཐགགཙང་མར་བཅད་ཡོད།
        འཐུས་མིའི་རྒྱལ་ཁབ་ཚོས་མཉམ་སྦྲེལ་རྒྱལ་ཚོགས་དང་མཉམ་མཐུན་གྱི་ཐོག་ནས་འགྲོ་བམིའི་ཐོབ་ཐང་དང༌། གཞི་རྩའི་རང་དབང་ལ་སྤྱི་ཡོངས་ནས་མོས་བཀུར་དང་བརྩི་འཇོག་ཤུགས ཆེ་བྱེད་པའི་ལས་དོན་དེ་དག་ཁོང་ཚོ་རང་ཉིད་ནས་ལག་ལེན་ལེགས་པར་བསྟར་རྒྱུའི་ཁས་ལེན་བྱས་ཡོད།
        གོང་གསལ་ཐོབ་ཐང་དང༌། རང་དབང་འདི་རྣམས་ཚང་མས་ཤེས་པར་བྱེད་པ་དེ་ནི། ཁས་ལེན་བྱས་པའི་དོན་སྙིང་ལག་ལེན་མཐིལ་ཕྱིན་བསྟར་བའི་ཐབས་ཚུལ་གལ་གནད་ཆེ་ཤོས་ཤིག་ཡིན༎
        གནས་ལུགས་འདི་ལྟར་ལ་སོང་ད་ཆ་ཚོགས་ཆེན་ནས་ཁྱབ་བསྒྲགས་བྱ་རྒྱུར།
        མི་མང་ཐམས་ཅད་དང༌། རྒྱལ་ཁབ་ཐམས་ཅད་ཀྱི་དོན་དུ་ཡོངས་ཁྱབ་གསལ་བསྒྲགས་འགྲོ་བ་མིའི་ཐོབ་ཐང་འདི་དག་ཀུན་གྱི་མིག་དཔེ་ལྟ་བུར་ཡོངས་སུ་འགྲུབ་པར་བྱེད་པའི་མཐའ་དོན་སྙིང་པོ་ནི་སྐྱེ་བོ་རེ་རེ་དང༌། སྤྱི་ཆོགས་ཀྱི་སྡེ་ཚན་རེ་རེ་ནས་གསལ་བསྒྲགས་འདི་དོན་ཡིད་ལ་བརྟན་པོར་རྒྱུན་དུ་བཟུང་སྟེ་མྱོང་འཁྲིད་དང༌། སློབ་སྟོན་ལ་བརྟེན་ནས་ཐོབ་ཐང་དང༌། རང་དབང་འདི་དག་ལ་བརྩི་བཀུར་རྒྱ་ཆེར་བྱེད་པ་དང་འབྲེལ་རྒྱལ་ཁབ་ཁག་དང༌། རྒྱལ་སྤྱིའི་ཐོག་དུ་དེའི་གནས་ཚད་གོང་མཐོར་གཏོང་བ་དང༌། དེ་དག་ཡོངས་སུ་ཁྱབ་པ་དང༌། ཤེས་རྟོགས་དང་བརྩི་བཀུར་དངོས་སུ་འབྱུང་ཐབས་སུ་འཐུས་མིའི་རྒྱལ་ཁབ་ཁག་གི་མི་མང་ཚོ་དང༌། ཁོང་ཚོའི་ཁྲིམས་དབང་འོག་ཏུ་ཡོད་པའི་མངའ་ཁུལ་གྱི་མི་མང་བཅས་ཚང་མས་འདི་དོན་ལག་ལེན་བསྟར་རྒྱུར་འབད་བརྩོན་བྱེད་དགོས་པ་ཡིན།

        དོན་ཚན་དང་པོ།
        འགྲོ་བ་མིའི་རིགས་རྒྱུད་ཡོངས་ལ་སྐྱེས་ཙམ་ཉིད་ནས་ཆེ་མཐོངས་དང༌། ཐོབ་ཐངགི་རང་དབང་འདྲ་མཉམ་དུ་ཡོད་ལ། ཁོང་ཚོར་རང་བྱུང་གི་བློ་རྩལ་དང་བསམ་ཚུལ་བཟང་པོ་འདོན་པའི་འོས་བབས་ཀྱང་ཡོད། དེ་བཞིན་ཕན་ཚུན་གཅིག་གིས་གཅིག་ལ་བུ་སྤུན་གྱི་འདུ་ཤེས་འཛིན་པའི་བྱ་སྤྱོད་ཀྱང་ལག་ལེན་བསྟར་དགོས་པ་ཡིན༎
      textarea

    table.center
      tr.vs
        th
        th tenuis
        th aspirated
        th voiced
        th nasal
        th approximant
        th fricative
        th voiced fricative
        th vowel
      -
        const xss = [
          ["none"       , "ཨ \u0fb8 q", "", "", "", "", "", "", "", ""],
          ["velar"      , "ཀ \u0f90 k", "ཁ \u0f91 kx", "ག \u0f92 c", "གྷ \u0f93 ch", "ང \u0f94 g", ""          , ""        , "ཧ \u0fb7 x", "འ \u0fb0 h", ""                    ],
          ["palatal"    , "ཅ \u0f95 ṫ", "ཆ \u0f96 ṫx", "ཇ \u0f97 ḋ", ""           , "ཉ \u0f99 ṅ", "ཡ \u0fbb j", "\u0fb1 j", "ཤ \u0fb4 ṡ", "ཞ \u0fae ż", "\u0f72 i", "\u0f7a e"],
          ["(retroflex)", "ཊ \u0f9a ʈ", "ཋ \u0f9b ʈx", "ཌ \u0f9c ɖ", "ཌྷ \u0f9d ɖh", "ཎ \u0f9e ɳ", ""          , ""        , "ཥ \u0fb5 ʂ", ""          , ""        , ""        ],
          ["dental"     , "ཏ \u0f9f t", "ཐ \u0fa0 tx", "ད \u0fa1 d", "དྷ \u0fa2 dh", "ན \u0fa3 n", "ར \u0fbc r", "\u0fb2 r", ""          , ""          , ""        , ""        ],
          [""           , "ཙ \u0fa9 ŧ", "ཚ \u0faa ŧx", "ཛ \u0fab đ", "ཛྷ \u0fac đh", ""          , "ལ \u0fb3 l", ""        , "ས \u0fb6 s", "ཟ \u0faf z", ""        , ""        ],
          ["labial"     , "པ \u0fa4 p", "ཕ \u0fa5 px", "བ \u0fa6 b", "བྷ \u0fa7 bh", "མ \u0fa8 m", "ཝ \u0fba v", "\u0fad v", ""          , ""          , "\u0f74 u", "\u0f7c o"],
        ]

      for xs in xss
        tr
          th= xs[0]
          for x in xs.slice(1)
            td
              if x
                - const ys = x.split(" ")
                for y in ys.slice(0, -1)
                  button= y
                |#{ys.slice(-1)[0]}

      table.center
        tr
          th digit
          for xi of [..."༠༡༢༣༤༥༦༧༨༩"].map((x, i) => [x, i])
            td
              button= xi[0]
              |#{xi[1]}
        tr
          th punctuation
          td
            button ་
            |␠
          td
            button །
            |,
          td
            button ༎
            |.

    p in ASCII environment, use "y" instead of combining dot

  +section("vocabulary")
    table.center
      -
        const xs = [
          ["0", "ཀླད་ཀོར་"],
          ["1", "གཅིག་"],
          ["2", "གཉིས་"],
          ["3", "གསུམ་"],
          ["4", "བཞི་"],
          ["5", "ལྔ་"],
          ["6", "དྲུག་"],
          ["7", "བདུན་"],
          ["8", "པརྒྱད་"],
          ["9", "དགུ་"],
          ["10", "བཅུ་"],
          ["-th (Ord)", "- པ་"],

          ["this", "འདི་"],
          ["that", "དེ་"],
          ["-s (Pl)", "- ཙོ་"],

          ["what", "ཅི་"],
          ["who", "སུ་"],
          ["when", "ནམ་"],
          ["where", "ག་"],
          ["some (Wh)", "- ཞིག་"],
          ["every (Wh)", "- ཡང་"],

          ["then", "ད་ནས་"],
          ["but", "འོན་ཀྱང་"],
          ["because", "དེ་ཐྱིར་"],
          ["if", "གའ་ཏེ་"],

          ["not", "མ་"],
          ["be", "ཡིན་"],
          ["exist", "ཡོད་"],
          ["like", "དགའ་"],

          ["person", "མི་"],
        ]
      for x in xs
        - const [a, b] = x
        tr
          td= a
          td= b
          td.bo= b

      table.center.bo-tds
        tr
          th
          th i
          th thou
          th he
        tr
          th Sg
          td ང་
          td ཁྱོད་
          td ཁོ་
        tr
          th Pl
          td ང་ཙོ་
          td ཁྱོད་ཙོ་
          td ཁོད་ཙོ་
        tr
          th formal
          td ངེད་
          td ཁེད་
          td ཁོད་
