extend /_layout.pug

mixin toTds(xs)
  for x in xs
    td= x

mixin toTrs(xss, sep="|")
  for xs in xss
    tr
      +toTds(xs.split(sep))
        td= x

mixin sups(xs, sep, mid, end)
  for x, i in xs
    - let [a, b] = x.split(sep)
    if i !== 0
      | #{mid}
    | #{a}
    sup= b
  | #{end}

block head
  - var title = "orthography"
  link(rel="stylesheet", href="style.css")
  script(src="cantonese-convert.js")

block main

  // +mySection("japanese")
    p: em the author have not finished this section yet.
    center
      table
        caption example
        tbody

      table
        tbody
          tr
            td
            td.over-th(colspan="5") vowel
            td.over-th(colspan="15") consonant
            td N
            td Q
          tr
            td
            for x in Array.from("アイウ𛀀オアカガサザタダナハバパマヤラワンッ")
              th= x
          tr
            th= global.name
            for x in "a|i, ĩ|u, ũ|e|o|h|c|g|s|z|t|d|n|f|b|p|m|j|r|v|ŋ, n, m|x, c, t, f".split("|")
              td= x


  +mySection("cantonese")
    p
      | i introduce yet another pinyin system for cantonese.
      | it is consistent and compact,
      |  though it may seem complex at zeroth glance.
      | the system has an ASCII version in addition to an original Unicode one, so that we can use it every where.
    p the author may make incompatible changes in the system.
    p
      | the author designed the system just to suit vis preference or aethetics,
      |  and force no one to use it.
      | if some one, however, would like it and try to use it, ve would be very glad.

    center
      table.transpose
        caption example
        tbody
          tr
            td
            th me
            th me-ASCII
            th cantonese<br/>pinyin
            th jyutping
          tr
            td 春曉（孟浩然）
            td.cantonese-example
            td.cantonese-example-ascii
            td
              +sups("tsoen^1 hiu^2".split(" "), "^", " ", "")
              |  (
              +sups("maang^6 hou^6 jin^4".split(" "), "^", " ", "")
              | )
            td
              +sups("ceon^1 hiu^2".split(" "), "^", " ", "")
              |  (
              +sups("maang^6 hou^6 jin^4".split(" "), "^", " ", "")
              | )
          tr
            td 春眠不覺曉，
            td.cantonese-example
            td.cantonese-example-ascii
            td: +sups("tsoen^1 min^4 bat^7 gok^8 hiu^2".split(" "), "^", " ", ",")
            td: +sups("ceon^1 min^4 bat^1 gok^3 hiu^2".split(" "), "^", " ", ",")
          tr
            td 處處聞啼鳥。
            td.cantonese-example
            td.cantonese-example-ascii
            td: +sups("tsy^3 tsy^3 man^4 tai^4 niu^5".split(" "), "^", " ", ".")
            td: +sups("cyu^3 cyu^3 man^4 tai^4 niu^5".split(" "), "^", " ", ".")
          tr
            td 夜來風雨聲，
            td.cantonese-example
            td.cantonese-example-ascii
            td: +sups("je^6 loi^4 fung^1 jy^5 sing^1".split(" "), "^", " ", ",")
            td: +sups("je^6 loi^4 fung^1 jyu^5 sing^1".split(" "), "^", " ", ",")
          tr
            td 花落知多少？
            td.cantonese-example
            td.cantonese-example-ascii
            td: +sups("faa^1 lok^9 dzi^1 do^1 siu^2".split(" "), "^", " ", "?")
            td: +sups("faa^1 lok^6 zi^1 do^1 siu^2".split(" "), "^", " ", "?")

      //
        table
          caption sound
          tr
            td p
            td pʰ
            td m
            td f
          tr
            td t
            td tʰ
            td n
            td l
          tr
            td k
            td kʰ
            td ŋ
            td h
          tr
            td kʷ
            td kʷʰ
            td w
          tr
            td ts
            td tsʰ
            td s
            td j

    center
      table#cantonese-me
        caption me

      table#cantonese-me-ascii
        caption me

      table#cantonese-pinyin
        caption 教育學院拼音方案 (cantonese pinyin)
        tbody.consonant
          +toTrs([
            "b |p |m |f",
            "d |t |n |l",
            "g |k |ng|h",
            "gw|kw|  |w",
            "dz|ts|s |j"
          ])
        tbody.vowel
          +toTrs([
          "i |   |iu |im |in |ing |ip |it |ik ",
          "y |   |   |   |yn |    |   |yt |   ",
          "u |ui |   |   |un |ung |   |ut |uk ",
          "e |ei |eu |em |en |eng |ep |   |ek ",
          "oe|oey|   |   |oen|oeng|   |oet|oek",
          "o |oi |ou |   |on |ong |   |ot |ok ",
          "aa|aai|aau|aam|aan|aang|aap|aat|aak",
          "  |ai |au |am |an |ang |ap |at |ak ",
          "  |   |   |  m|   |  ng|   |   |   "
          ])

      table
        caption 香港語言學學會粵語拼音方案 (jyutping)
        tbody.consonant
          +toTrs([
            "b |p |m |f",
            "d |t |n |l",
            "g |k |ng|h",
            "gw|kw|  |w",
            "z |c |s |j"
          ])
        tbody.vowel
          +toTrs([
            "i |   |iu |im |in |ing |ip |it |ik ",
            "yu|   |   |   |yun|    |   |yut|   ",
            "u |ui |   |   |un |ung |   |ut |uk ",
            "e |ei |eu |em |en |eng |ep |   |ek ",
            "oe|eoi|   |   |eon|oeng|   |eot|oek",
            "o |oi |ou |   |on |ong |   |ot |ok ",
            "aa|aai|aau|aam|aan|aang|aap|aat|aak",
            "  |ai |au |am |an |ang |ap |at |ak ",
            "  |   |   |  m|   |  ng|   |   |   "
          ])

      table
        caption tones
        tbody.tone#cantonese-tone
          tr
            td
            for x in "絲|史|試|時|市|士|式|錫|食".split("|")
              th= x
          -
            let xss = [
              ["",                 "陰平|陰上|陰去|陽平|陽上|陽去|上陰入|下陰入|陽入"],
              //["",                 "53|35|33|21|23|22| 5| 3| 2"],
              ["",                 "˥˧|˧˥| ˧|˧˩|˩˧| ˩| ˥| ˧| ˩"],
              ["me",                                           ],
              ["me-ascii",                                     ],
              ["cantonese pinyin", " 1| 2| 3| 4| 5| 6| 7| 8| 9"],
              ["jyutping        ", " 1| 2| 3| 4| 5| 6| 1| 3| 6"]
            ]
          for xs in xss
            tr
              th= xs[0]
              if xs[1]
                +toTds(xs[1].split("|"))

    p
      | we may
      ul
        li replace some non-ASCII characters as the table below in some ASCII environment
        li replace any tone diacritic with a nummeral as in cantonese pinyin
        li omit any non-tone diacritic except of ‹<span class="cantonese-short">a</span>›, which exists only for readability and does not affect ambiguity
    center: table
      tr
        td ŋ
        td.cantonese-long m
        td.cantonese-long ŋ
        td.cantonese-short a
        td ø
      tr
        td q
        td mm
        td qq
        td a'
        td w


    +mySection("design choices")
      p
        | the author wanted to distinguish any phonological difference.
        |  the system distinguishes ‹oe, eo› like jyutping, not like ‹oe› cantonese pinyin.
        |  the system also distinguishes lengths of vowels ‹i, u, e, ø, o›, which is useful for beginners,
        |  while left optional because it does not affect ambiguity and is not necessary for natives.
      p
        | the author tried to make the system look minimal.
        |  the system uses ‹y› like cantonese pinyin, not ‹yu› like jyutping,
        |  and uses ‹z, c› like jyutping, not ‹dz, ts› like cantonese pinyin.
        |  the system uses many diacritics in order to avoid numerals and doubled letters, which are ugly in the autohr's opinion,
        |  while allowing the ASCII alternative to make it easy to type.
      p
        | the author does not like digraphs like ‹ng›, which breaks uniformity.
        |  as we have ‹q› unused, we can avoid them.
      p though the standard diacritic for short vowels is breve ‹˘›, the system uses ring ‹˚› as breve is hard to distinguish from caron ‹ˇ›.
    +mySection("converter")
      p: em the author have not finished this section yet.

      div.converter
        div.from
          select.trigger
            option(value="cantonese pinyin") cantonese pinyin
          textarea.trigger
        div.to
          select.trigger
            option(value="sumi") sumi
            option(value="sumi-ascii") sumi-ASCII
          textarea(readonly)