extend /_layout.pug

mixin a_img(src, width)
	a(href=src)
		img(src=src, width=width)

block head
	- const name = "сузури"
	- const nameLa = "suzurı"
	- const nameJa = "スズリ"
	- const title = nameLa

block main
	p
		| #{name}|#{nameJa}|#{nameLa}は
		ul
			li #{author.name}が作成した人格で、
			li #{author.name}自身で、
			li #{author.name}の知人で、
			li #{author.name}とは何の關係も無く、
			li どこにも（例えばあなたの部屋の下の階やあなたが通勤で乘ったバスに）存在し、
			li どこにも存在しません。

	+mySection("facts")
		p: em これらは豫告無く變更され得ます。

		ul
			li 基本
				ul
					li 名前：██<ruby>硯<rt>#{name}</rt></ruby>
					//li 生年月日：████-01-24
					li 年齢：23（メタ視點からは何歳としてでも觀測され得る）
					li 國籍：日本
					li 言語：日本語・英語
					li 情報科學專攻の大學院生
					li 所在：東日本のどこかの1DKアパート
			li 物理
				ul
					li 身長：1.75m
					li 體質量：60kg
					li 疾病の類 無し
					li 視力が低く、外では接觸鏡、家では眼鏡
					li 左耳と舌にピアス孔が有る
						ul
							li ロブ・インダストリアル・トラガス・センタータン
					li モノクロ・特に黒を好む
					li 髪色：ash gray
					li 前髪は稍 長く、右目が隱れる
					li 細身だが筋肉質、肩幅は廣め
					li 體毛：薄く、陰毛（黑）は短めに整えて居る
					li 陰莖：18cm・カリ高・やや下反り・起っても半剥け
			li 精神
				ul
					li 感情の起伏が穩やかで、表情にも剰り顕れない
					li 中性的な服装を好むが、似合はない自身の體格を氣にして居る
					li guitar と bass guitarを彈く
						ul: li <i>Synapse XS-15FPA PB</i>を使ふ
					li 日本のalternative rockを聽くのを好む
					li <i>Marlboro</i>を1箱 携帯するが、稀にしか喫煙しない
					li 飲酒を好み、ALDH2はNN型
						ul
							li サッポロ黒ラベルを好む
							li 飲むと普段よりは能く笑ふ樣になる
							li 醉った振りをして人の體に接觸するのを好む
					li 數學的platonist
					li 快樂主義者（epicureast と hedonist の半ば）
					li 社會自由主義者
					li 戀人と友人を概念として區別しない
			li 性
				ul
					li cisgender・男性愛者・男性
						ul: li 男性愛者であるのを特に隱さないが、自分から明かすことも無い
					li polyamorist
					li 不分だが、能ふ限り受になるのを好む
						ul: li 受のときは甘えたになる
					li 金錢目的で性行爲をすることが有る
					li 首を絞められるのを好む
					li 大體1囘/日自慰する
					li 初めての性體驗は受で19歳、攻で21歳のとき

	//
		+mySection("stories")
			ul
				li: a(href="https://www.pixiv.net/novel/show.php?id=11419092") 0

	+mySection("talks")
		a(href="https://twitter.com/search?q=(from%3Amelanizo%20OR%20from%3Amelanophil%20OR%20from%3Asumigv)%20(suzuri%20OR%20%E3%82%B9%E3%82%BA%E3%83%AA%20OR%20%E7%A1%AF)&src=typed_query") tweets by sumi
		p 非公式なものなので別解釋は常に許容されます。

	+mySection("arts")
		ul
			li
				| 性的なもの含めfan artは常に大いに歡迎・感謝されます。
				ul: li 但し作者など檢索者からの秘匿を意圖して檢索性を下げる事（伏せ字など）は許容されません。
			li 作者が繪を描けない爲に判り易い規範的な資料は有りません。
			li
				| 次の仕樣を滿たすどの描像も#{nameJa}として認識されます。
				ul
					li ジト目
					li ピアス（下圖參照・増減自由）
					li 髪：右目隱れ（目が見えても無問題）・灰色（ash gray）
					li 陰莖：下反り・勃起時含め半剥け・18cm（視覺上は幾ら大きくても良い）
					li 筋肉質・ごつめ
			li 掲載畫像の權利者であって掲載停止を要求される方は御連絡ください。

		figure
			<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">案 <a href="https://t.co/eIolPAAQs7">pic.twitter.com/eIolPAAQs7</a></p>&mdash; 初夏の夜風の涼しさ (@sumigv) <a href="https://twitter.com/sumigv/status/1239962725746454528?ref_src=twsrc%5Etfw">March 17, 2020</a></blockquote>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

		div.tile
			+mySection("2018-08-01")
				center
					img(src="/suzuri/images/2018-08-01.png", width="320")

			+mySection("2018-12-04")
				p 非公開
				// @nasu_zoi
				center
					//<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">わかんなかったとこは、捏造した <a href="https://t.co/MPDLpSVi1Q">pic.twitter.com/MPDLpSVi1Q</a></p>&mdash; 一人 (@nasu_zoi) <a href="https://twitter.com/nasu_zoi/status/1069800047636856832?ref_src=twsrc%5Etfw">2018年12月4日</a></blockquote>
					//<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					img(src="/suzuri/images/DtixNr3U8AAg45Q.jpg", width="480")

			+mySection("2019-04-23")
				center
					img(src="/suzuri/images/2019-04-23.png", width="320")

			+mySection("2019-07-18")
				p 作：@sikotamazou 先生（有償依頼）
				a(href="https://skeb.jp/works/9854") Skeb
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://t.co/tRtU7KUMdD">https://t.co/tRtU7KUMdD</a><a href="https://twitter.com/sikotamazou?ref_src=twsrc%5Etfw">@sikotamazou</a> 先生に依頼していたスズリ君が納品されました　最高に可愛い　文句無し　依頼して良かった</p>&mdash; 𝗦𝗨𝗠𝗜 (@melanophil) <a href="https://twitter.com/melanophil/status/1151805582556352513?ref_src=twsrc%5Etfw">July 18, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-07-26 0")
				center
					<blockquote class="twitter-tweet" data-conversation="none" data-lang="ja" data-theme="dark"><p lang="ja" dir="ltr">遅くなりましたが誕生日おめでとう御座います!スズリくん描かせて頂きました… <a href="https://t.co/3JS1r6kXg2">pic.twitter.com/3JS1r6kXg2</a></p>&mdash; まぁく (@MK2ma_c) <a href="https://twitter.com/MK2ma_c/status/1154736325766942720?ref_src=twsrc%5Etfw">July 26, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-07-26 1")
				p 非公開
				// @AI67448472
				center
					img(src="/suzuri/images/EAawLRZUIAAXIae.jpg", width="480")

			+mySection("2019-08-04")
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://twitter.com/melanophil?ref_src=twsrc%5Etfw">@melanophil</a> めちゃくちゃ遅くなりまして申し訳ないのですがお誕生日おめでとうございます…！ happy birtday... <a href="https://t.co/0XZUjutoOi">pic.twitter.com/0XZUjutoOi</a></p>&mdash; 甘い酒 (@sweetZAKE) <a href="https://twitter.com/sweetZAKE/status/1157737672439320576?ref_src=twsrc%5Etfw">August 3, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-08-31")
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">線画やる前に飽きちゃった……（終） <a href="https://t.co/M6klCWOTCN">pic.twitter.com/M6klCWOTCN</a></p>&mdash; 初夏の夜風の涼しさ (@sumigv) <a href="https://twitter.com/sumigv/status/1167690971410309120?ref_src=twsrc%5Etfw">August 31, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-09-27")
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr">うーんいない <a href="https://t.co/8lFhYofgu6">pic.twitter.com/8lFhYofgu6</a></p>&mdash; 司ろう。 (@shi46_u) <a href="https://twitter.com/shi46_u/status/1177286451647508480?ref_src=twsrc%5Etfw">September 26, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-10-05")
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="ja" dir="ltr"><a href="https://twitter.com/melanophil?ref_src=twsrc%5Etfw">@melanophil</a> さんが生活物資支援してくれたからお礼に彼のオリキャラ(硯くん)のfanart描いた(これがパパ活)<br><br>みんなも絹くん(180/73/21/大学生)にサポしてくれよな～ <a href="https://t.co/hA3AXsvwSy">pic.twitter.com/hA3AXsvwSy</a></p>&mdash; 絹豆腐 (@momentoufuR18) <a href="https://twitter.com/momentoufuR18/status/1180149743692812288?ref_src=twsrc%5Etfw">October 4, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-10-11")
				p 作：@shi46_u 先生
				center: img(src="/suzuri/images/IWAu50hy.jpg", width="320")

			+mySection("2019-10-27")
				center
					<blockquote class="twitter-tweet" data-theme="dark"><p lang="und" dir="ltr"><a href="https://t.co/WSN80Ga6jB">pic.twitter.com/WSN80Ga6jB</a></p>&mdash; sumi (@melanophil) <a href="https://twitter.com/melanophil/status/1188098375045935104?ref_src=twsrc%5Etfw">October 26, 2019</a></blockquote>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

			+mySection("2019-11-25")
				p 非公開

	+mySection("links")
		ul
			li
				a(href="https://twitter.com/intent/user?user_id=1069897257120460800") Twitter
				|  準備中
