extend /_layout.pug

block head
	-
		const title = "japonsky"
		const titleLanguage = "isv"
		const tags = ["draft"]

mixin ruby(base, over)
	<ruby>#{base}<rt>#{over}</rt></ruby>

mixin tds(xs)
	for x in xs
		td= x

block main
	// http://www.inagaki.nuie.nagoya-u.ac.jp/research/derivation_grammar.html

	p 空白の入れ方は未定。

	table
		caption 吾輩は猫である [夏目, 1905]
		-
			const xys =
				[ [ "吾輩は猫である。"
					, "vagaPaı pa neco dearu." ]
				, [ "名前はまだ無い。"
					, "namae pa mada na`sı." ]
				, [ "どこで生まれたか頓と見當がつかぬ。"
					, "doco de umareta ca Ton to CenToŋ ga tucanu." ]
				, [ "何ても暗薄いじめじめした所でニャー〳〵泣いて居た事丈は記憶して居る。"
					, "nan'te mo curausuı *zımezıme*sıta tocoro de *nȷaanȷaa* na`cıtevıta coto dace pa CıOc sıtevıru." ]
				, [ "吾輩はこゝで始めて人間といふものを見た。"
					, "vagaPaı pa coco de pazımete NınGen to ıpu mono vo mıta." ]
				, [ "然もあとで聞くとそれは書生といふ人間で一番獰惡な種族であつたさうだ。"
					, "sıcamo ato de cıcu to sore pa SȷoSeŋ to ıpu NınGen de ıtBan DaŋAc na SȷuZoc dearta sau da." ]
				, [ "此書生といふのは時々我々を捕へて煮て食ふといふ話である。"
					, "cono SȷoSeŋ to ıpu no pa tocıdocı varevare vo tucamapete nıte cupu to ıpu panası dearu." ]
				, [ "然し其當時は何といふ考もなかつたから別段恐しいとも思はなかつた。"
					, "sıcası sono TaŋZı pa nan' to ıpu cangape mo nacarta cara BetDan osorosıı tomo omopanacarta." ]
				, [ "但彼の掌に載せられてスーと持ち上げられた時何だかフハフハした感じが有つた許りである。"
					, "tada care no tenopıra nı noserarete *suu*to motıagerareta tocı nan'daca *fufafufa*sıta Can-zı ga arta bacarı dearu." ]
				, [ "掌の上で少し落ち付いて書生の顏を見たが所謂人間といふものゝ見始であらう。"
					, "tenopıra no ue de sucosı otıtucıte SȷoSeŋ no capo vo mıta ga ıpaȷuru NınGen to ıpu mono no mıpazıme dearamu." ]
				, [ "此の時妙なものだと思つた感じが今でも殘つて居る。"
					, "cono tocı Mȷau na mono da to omopta Can-zı ga ıma de mo nocortevıru" ]
				, [ "第一毛を以て裝飾されべき筈の顏がつる〳〵して丸で藥罐だ。"
					, "Daııt ce vo motte SoŋSȷoc sarebecı pazu no capo ga *turuturu*sıte maru de ȷacCan da." ]
				,	[ "其後猫にも大分逢つたがこんな片輪には一度も出會はした事がない。"
					, "sonoGo neco nı mo DaıBun apta ga conna catava nı pa ıtDo mo decupasıta coto ga naı." ]
				, [ "加之顏の眞中が餘りに突起して居る。"
					, "nomınarazu capo no manaca ga amarını TotCı sıtevıru." ]
				, [ "そうして其穴の中から時々ぷう〳〵と烟を吹く。"
					, "sau sıte sono ana no naca cara tocıdocı *puupuu*to cemurı vo pacu." ]
				, [ "どうも咽せぽくて實に弱つた。"
					, "dou mo musepocute Zıt-nı ȷoparta." ]
				, [ "是が人間の飮む烟草といふものである事は漸く此頃知つた。"
					, "core ga NınGen no nomu tabaco to ıpu mono dearu coto pa ȷauȷacu cono goro sırta." ]
				]
		for xy in xys
			tr
				td= xy[0]
				td= xy[1]
