doctype html

include /_mixins.pug

-
  const root = "https://sumi.space"
  const author =
    { name:
      { id: "суми"
      , han: ["墨", "幽"]
      , ja: ["sumı", "ȷuu"]
      , emc: ["moŋ̍", "qȳ"]
      , cmn: ["mô", "ıeú"]
      , yue: ["məŋ̍", "qȷəù"]
      }
    , twitter: "smiqy"
    }

html(lang="en-GB")
  head
    include _google-analytics.pug
    meta(charset="UTF-8")
    link(href="/style.css", rel="stylesheet")
    script(src="/script.js")

    // local files
    link(href="style.css", rel="stylesheet")
    script(src="script.js")

    block head

    -
      const titleFull =
      (
        title === author.name.id
          ? title
          : `${author.name.id} / ${title}`
      ).toUpperCase().replace(/ȷ/g, "J")
    title= titleFull

    if titleIsva
      script.
        document.addEventListener("DOMContentLoaded", async () => {
          const replace = (await import("/work/language/interslavic/replace.js")).default
          const titleH = document.querySelector("h1")
          const title = replace(titleH.innerHTML, true, true)
          titleH.innerHTML = title
          document.title = document.title.replace(/(?<=.+ \/ ).+/, title)
        })

    meta(name="twitter:site", content="@" + author.twitter)
    meta(name="twitter:title", content=titleFull)
    // meta(name="twitter:description", content=`${author.name.id}'s information.`)
    meta(name="twitter:image", content=`${root}/characters/suzuri/images/2019-10-25-small.png`)
    meta(name="twitter:card", content="summary")

  body
    div#nav-switch
    div.center
      nav
        div#nav-in
          div#logo
            a(href="/"): img(src="/images/sumi.png")
          div#datetime
          +myDiv("menu")
            ul
              li: a(href="/") /
              li: a(href="/author") auþor
              li: a(href="/characters") character
              li: a(href="/favorite") favorite
              // li: a(href="/thought") thought
              li: a(href="/work") work

            +myDiv("submenu")

          center
            a(
              href="https://twitter.com/share?ref_src=twsrc%5Etfw"
              , class="twitter-share-button"
              , data-show-count="true"
              , data-via=author.twitter
            ) Tweet
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    main
      article
        p þis site use Google Analytics.

        if tags
          +section(title, tags)
            block main
        else
          +section(title)
            block main

      //
        +section("")
          div(id="disqus_thread")
          script.
            var disqus_config = function () {
              this.page.url = "http://sumi.space";
              this.page.identifier = "sumi";
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://sumi-2.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          noscript
            | Please enable JavaScript to view the
            a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.