doctype html

include /_mixins.pug

-
  const root = "https://sumi.space"
  const author =
    { id: "sumi"
    , twitter: "sumiqj"
    , github: "xekri"
    }

html
  head
    include include/_google-analytics.pug
    include include/_mathjax.pug
    meta(charset="UTF-8")

    link(href="/style.css", rel="stylesheet")
    script(src="/misc/date/date.js")
    script(src="/script.js")

    // local files
    link(href="style.css", rel="stylesheet")
    script(src="script.js")

    link(rel="icon", href="/images/sumi-color.svg", type="image/svg+xml")

    block head

    -
      const titleFull =
        isRoot
          ? author.id
          : `${author.id} / ${title}`
    title= titleFull

    script.
      document.addEventListener("DOMContentLoaded", () => {
        for(const e of document.querySelectorAll(".undot")) {
          e.innerHTML = e.innerHTML.replace(/i/g, "ı").replace(/j/g, "ȷ")
        }
      })

    meta(name="twitter:site", content="@" + author.twitter)
    meta(name="twitter:title", content=titleFull)
    // meta(name="twitter:description", content=`${author.id}'s information.`)
    meta(name="twitter:image", content=`${root}/character/suzuri/images/2019-04-23.png`)
    meta(name="twitter:card", content="summary")

  body
    nav
      #nav-in
        div#logo
          a(href="/")
            img(src="/images/sumi-color.svg", width="50%")

        #datetime

        center
          a(
            href="https://twitter.com/share?ref_src=twsrc%5Etfw"
            , class="twitter-share-button"
            , data-show-count="true"
            , data-via=author.twitter
          ) tweet
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        +div("menu")
          ul
            li: a(href="/") /
            li: a(href="/author") AUÞOR
            li: a(href="/char") CHARACTER
            li: a(href="/fav") FAVOURITE
            // li: a(href="/thought") THOUGHT
            li: a(href="/wurk") WURK
            li: a(href="/lang") LANGUAGE
            li: a(href="/misc") MISCELLANEOUS

          +div("submenu")

        +div("⚠")
          ul
            li USING <it>GOOGLE ANALYTICS</it>
            li NOT OPTIMISED FOR MOBILE

    main(class=vertical ? "vertical" : "")
      +section(title, tags)
        block main

      //+section("")
        include _discus.pug
