mixin myDiv(title, showsTitle=true)
	div.my-div(id=title)
		if showsTitle
			span.my-div-title #{title}
		block

mixin section(title, showsTitle=true)
	section.my-section(id=title)
		if showsTitle
			a(href="#" + title): h1= title
		block
