extend /_layout.pug

block head
	- const title = "language"
	- const tag = ["draft"]

block main
	p language and orthography.

	ul
		li: a(href=`https://${author.github}.github.io/english`) artificial dialect of english
		li: a(href="ja") japanese romanization
		li: a(href="pl") polish cyrillization
		li: a(href="interslavic") artificial dialect of interslavic
		li: a(href="tr") turkish orthography
		li: a(href="ka") georgian romanization
		li: a(href="hy") armenian romanization
		li: a(href=`https://github.com/${author.github}/chinese`) chinese romanization
		li: a(href=`https://github.com/${author.github}/yue`) yue romanization
		//li: a(href=`https://${author.github}.github.io/interslavic-minimal/`) interslavic minimal
		li: a(href=`https://${author.github}.github.io/romanize-san/`) sanskrit romanization
		//li: a(href="https://cdpn.io/sumigv/debug/poEyLrY/vPrKKgwXJeor") greek
		//li: a(href="https://cdpn.io/sumigv/debug/WNGveym/dGMXWjJDORGk") russian
		//li: a(href="vn") vietnamese
