extend /_layout.pug

block head
  - const title = "arabic"
  - const tags = ["draft"]

mixin forms(isolated, n)
  case n
    when 1
      td(colspan=4).ar= isolated
    when 2
      for x in [`\u0640${isolated}`, isolated]
        td(colspan=2).ar= x
    when 4
      for x in [`\u0640${isolated}`, `\u0640${isolated}\u0640`, `${isolated}\u0640`, isolated]
        td.ar= x

block main
  span اَلْعَرَبِيَّةُ
  |#{" "}
  span(data-ar="اَلْعَرَبِيَّةُ")

  center
    table
      tr.vs
        th name
        th roman name
        th IPA
        th final
        th medial
        th initial
        th isolated
        th roman

      -
        const data = [
          [ "أَلِف"
          , "∅"
          , "ا"
          , 2
          ],
          [ "بَاء"
          , "b"
          , "ب"
          , 4
          ],
          [ "جِيم"
          , "d͡ʒ"
          , "ج"
          , 4
          ],
          [ "دَال"
          , "d"
          , "د"
          , 2
          ],
          [ "ذَال"
          , "ð"
          , "ذ"
          , 2
          ],
          [ "هَاء"
          , "h"
          , "ه"
          , 4
          ],
          [ "وَاو"
          , "w"
          , "و"
          , 2
          ],
          [ "زَاي"
          , "z"
          , "ز"
          , 2
          ],
          [ "حَاء"
          , "ħ"
          , "ح"
          , 4
          ],
          [ "خَاء"
          , "x"
          , "خ"
          , 4
          ],
          [ "طَاء"
          , "tˤ"
          , "ط"
          , 4
          ],
          [ "ظَاء"
          , "ðˤ"
          , "ظ"
          , 4
          ],
          [ "يَاء"
          , "j"
          , "ي"
          , 4
          ],
          [ "كَاف"
          , "k"
          , "ك"
          , 4
          ],
          [ "لاَم"
          , "l"
          , "ل"
          , 4
          ],
          [ "مِيم"
          , "m"
          , "م"
          , 4
          ],
          [ "نُون"
          , "n"
          , "ن"
          , 4
          ],
          [ "عَيْن"
          , "ʕ"
          , "ع"
          , 4
          ],
          [ "غَيْن"
          , "ɣ"
          , "غ"
          , 4
          ],
          [ "فَاء"
          , "f"
          , "ف"
          , 4
          ],
          [ "صَاد"
          , "sˤ"
          , "ص"
          , 4
          ],
          [ "ضَاد"
          , "dˤ"
          , "ض"
          , 4
          ],
          [ "قَاف"
          , "q"
          , "ق"
          , 4
          ],
          [ "رَاء"
          , "r"
          , "ر"
          , 2
          ],
          [ "سِين"
          , "s"
          , "س"
          , 4
          ],
          [ "شِين"
          , "ʃ"
          , "ش"
          , 4
          ],
          [ "تَاء"
          , "t"
          , "ت"
          , 4
          ],
          [ "ثَاء"
          , "θ"
          , "ث"
          , 4
          ],
          [ "تاء مربوطة"
          , "t"
          , "ة"
          , 2
          ],
          [ "هَمْزة"
          , "ʔ"
          , "ء"
          , 1
          ],
          [ "فَتْحَة"
          , "a"
          , "\u064e"
          , 1
          ],
          [ "ضَمَّة"
          , "u"
          , "\u064f"
          , 1
          ],
          [ "كَسْرَة"
          , "u"
          , "\u0650"
          , 1
          ],
          [ "فتحَة تنوين"
          , "an"
          , "\u064b"
          , 1
          ],
          [ "ضَمَّة تَنْوِين"
          , "un"
          , "\u064c"
          , 1
          ],
          [ "كَسْرَة تَنْوِين"
          , "in"
          , "\u064d"
          , 1
          ],
        ]
      for datum in data
        tr
          td= datum[0]
          td(data-ar=datum[0])
          td= datum[1]
          +forms(datum[2], datum[3])
          td(data-ar=datum[2])

  .textareas
    textarea.
      المادة 1.
      يولد جميع الناس أحراراً متساوين في الكرامة والحقوق، وقد وهبوا عقلاً وضميراً وعليهم أن يعامل بعضهم بعضاً بروح الإخاء.

      المادة 2.
      لكل إنسان حق التمتع بكافة الحقوق والحريات الواردة في هذا الإعلان، دون أي تمييز، كالتمييز بسبب العنصر أو اللون أو الجنس أو اللغة أو الدين أو الرأي السياسي أو أي رأي آخر، أو الأصل الوطني أو الاجتماعي أو الثروة أو الميلاد أو أي وضع آخر، دون أية تفرقة بين الرجال والنساء. وفضلا عما تقدم فلن يكون هناك أي تمييز أساسه الوضع السياسي أو القانوني أو الدولي لبلد أو البقعة التي ينتمي إليها الفرد سواء كان هذا البلد أو تلك البقعة مستقلا أو تحت الوصاية أو غير متمتع بالحكم الذاتي أو كانت سيادته خاضعة لأي قيد من القيود.
    textarea