extend /_layout.pug

mixin toTds(xs)
  for x in xs
    td
      if x && x[0] === "!"
        em= x.substring(1)
      else
        | #{x}

mixin toTrs(xss, sep="|")
  for xs in xss
    tr
      +toTds(xs.split(sep))

mixin sups(xs, sep, mid, end)
  for x, i in xs
    - let [a, b] = x.split(sep)
    if i !== 0
      | #{mid}
    | #{a}
    sup= b
  | #{end}

block head
  - const title = "cantonese"
  link(rel="stylesheet", href="style.css")
  script(src="convert.js")
  script(src="script.js")

block main
  center
    table.example
      caption example
      tbody
        tr: th original
        tr: td 春曉（孟浩然）
        tr: td 春眠不覺曉，
        tr: td 處處聞啼鳥。
        tr: td 夜來風雨聲，
        tr: td 花落知多少？
      tbody.sumi
      tbody.sumi-ascii
      tbody
        tr: th cantonese pinyin
        tr: td
          +sups("tsoen^1 hiu^2".split(" "), "^", " ", "")
          |  (
          +sups("maang^6 hou^6 jin^4".split(" "), "^", " ", "")
          | )
        tr: td: +sups("tsoen^1 min^4 bat^7 gok^8 hiu^2".split(" "), "^", " ", ",")
        tr: td: +sups("tsy^3 tsy^3 man^4 tai^4 niu^5".split(" "), "^", " ", ".")
        tr: td: +sups("je^6 loi^4 fung^1 jy^5 sing^1".split(" "), "^", " ", ",")
        tr: td: +sups("faa^1 lok^9 dzi^1 do^1 siu^2".split(" "), "^", " ", "?")
      tbody
        tr: th jyutping
        tr: td
          +sups("ceon^1 hiu^2".split(" "), "^", " ", "")
          |  (
          +sups("maang^6 hou^6 jin^4".split(" "), "^", " ", "")
          | )
        tr: td: +sups("ceon^1 min^4 bat^1 gok^3 hiu^2".split(" "), "^", " ", ",")
        tr: td: +sups("cyu^3 cyu^3 man^4 tai^4 niu^5".split(" "), "^", " ", ".")
        tr: td: +sups("je^6 loi^4 fung^1 jyu^5 sing^1".split(" "), "^", " ", ",")
        tr: td: +sups("faa^1 lok^6 zi^1 do^1 siu^2".split(" "), "^", " ", "?")

  center
    table
      caption IPA
      tbody.consonant
        +toTrs([
          "p  |pʰ |m |f",
          "t  |tʰ |n |l",
          "k  |kʰ |ŋ |h",
          "kʷ |kʷʰ|  |w",
          "t\u0361s|t\u0361sʰ|s|j"
        ])
      tbody.vowel
        +toTrs([
        "iː|   |iːu|iːm|iːn|!ɪŋ|iːp|iːt|!ɪk ",
        "yː|   |   |   |yːn|   |   |yːt|    ",
        "uː|uːi|   |   |uːn|!ʊŋ|   |uːt|!ʊk",
        "ɛː|!ei|ɛːu|ɛːm|ɛːn|ɛːŋ|ɛːp|   |ɛːk ",
        "œː|!ɵy|   |   |!ɵn|œːŋ|   |!ɵt|œːk",
        "ɔː|ɔːy|!ou|   |ɔːn|ɔːŋ|   |ɔːt|ɔːk",
        "aː|aːi|aːu|aːm|aːn|aːŋ|aːp|aːt|aːk",
        "  | ɐi| ɐu| ɐm| ɐn| ɐŋ| ɐp| ɐt| ɐk",
        "  |   |   |  m|   |  ŋ|   |   |   "
        ])

    table#cantonese-me
      caption sumi

    table#cantonese-me-ascii
      caption sumi-ASCII

    table#cantonese-pinyin
      caption 教育學院拼音方案 (cantonese pinyin)
      tbody.consonant
        +toTrs([
          "b |p |m |f",
          "d |t |n |l",
          "g |k |ng|h",
          "gw|kw|  |w",
          "dz|ts|s |j"
        ])
      tbody.vowel
        +toTrs([
        "i |   |iu |im |in |ing |ip |it |ik ",
        "y |   |   |   |yn |    |   |yt |   ",
        "u |ui |   |   |un |ung |   |ut |uk ",
        "e |ei |eu |em |en |eng |ep |   |ek ",
        "oe|oey|   |   |oen|oeng|   |oet|oek",
        "o |oi |ou |   |on |ong |   |ot |ok ",
        "aa|aai|aau|aam|aan|aang|aap|aat|aak",
        "  |ai |au |am |an |ang |ap |at |ak ",
        "  |   |   |  m|   |  ng|   |   |   "
        ])

    table
      caption 香港語言學學會粵語拼音方案 (jyutping)
      tbody.consonant
        +toTrs([
          "b |p |m |f",
          "d |t |n |l",
          "g |k |ng|h",
          "gw|kw|  |w",
          "z |c |s |j"
        ])
      tbody.vowel
        +toTrs([
          "i |   |iu |im |in |ing |ip |it |ik ",
          "yu|   |   |   |yun|    |   |yut|   ",
          "u |ui |   |   |un |ung |   |ut |uk ",
          "e |ei |eu |em |en |eng |ep |   |ek ",
          "oe|eoi|   |   |eon|oeng|   |eot|oek",
          "o |oi |ou |   |on |ong |   |ot |ok ",
          "aa|aai|aau|aam|aan|aang|aap|aat|aak",
          "  |ai |au |am |an |ang |ap |at |ak ",
          "  |   |   |  m|   |  ng|   |   |   "
        ])

    table
      caption tones
      tbody.tone#cantonese-tone
        for xs in ["陰平|陰上|陰去|陽平|陽上|陽去|上陰入|下陰入|陽入", "絲|史|試|時|市|士|式|錫|食"]
          tr
            td
            for x in xs.split("|")
              th= x
        -
          let xss =
            [ 
              ["IPA-letter",       "˥˧|˧˥| ˧|˧˩|˩˧| ˩| ˥| ˧| ˩"]
            , ["IPA-diacritic",    "i\u0302|i\u030C|i|i\u1DC6|i\u1DC5|i\u0300|i\u0301|i|i\u0300"]
            , ["sumi",                                         ]
            , ["sumi-ASCII",                                   ]
            , ["cantonese pinyin", " 1| 2| 3| 4| 5| 6| 7| 8| 9"]
            , ["jyutping        ", " 1| 2| 3| 4| 5| 6| 1| 3| 6"]
            ]
        for xs in xss
          tr
            th(align="right")= xs[0]
            if xs[1]
              +toTds(xs[1].split("|"))

  p we may replace any tone diacritic with a nummeral as in cantonese pinyin

  +mySection("converter")
    div.converter
      div.center
        ul.option
          li
            input.trigger(type="checkbox", name="letter")
            label ASCII letter
          li
            select.trigger(name="tone", size="1")
              option(value="none") none
              option(value="diacritic", selected) diacritic
              
              option(value="number") number
              option(value="ascii") ASCII
              option(value="ipa") IPA
            label tone
          li
            input.trigger(type="checkbox", name="length")
            label show optional vowel length
          li
            input.trigger(type="checkbox", name="ruby")
            label show as ruby

      div.from-to
        textarea(placeholder="cantonese pinyin / jyutping / 漢字").from.trigger
          | 人生自古誰無死？
        div.to(placeholder="sumi")

      div.center
        a.tweet(
          href=""
          , onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"
          , rel="nofollow"
          , class="twitter-link"
          ) tweet

    p: em
      | this program uses&#x20;
      a(href="https://github.com/lshk-org/jyutping-table") 電腦用漢字粵語拼音表
      |  licensed under&#x20;
      a(href="https://creativecommons.org/licenses/by/4.0/deed.en") CC BY 4.0
      | .

  +mySection("design choices")
    p
      | the author wanted to distinguish any phonological difference.
      |  the system distinguishes [œː, ɵ] like jyutping ‹oe, eo›, not like cantonese pinyin ‹oe›.
      |  the system also distinguishes lengths of the other vowels.
      |  it is useful for beginners, who do not know how to pronounce.
      |  it is however optional as length of any nucleus is clear from its coda, except for [aː, ɐ].
    p
      | the author tried to make the system minimal.
      |  the system adopts cantonese pinyin ‹y›, not jyutping ‹yu›,
      |  and adopts jyutping ‹z, c›, not cantonese pinyin ‹dz, ts›.
      |  the system uses diacritics in order to avoid numerals and doubled letters, which look ugly to the author.
      |  the author however provides the ASCII alternative easy to type.
      |  long vowels, the majority, are default and short ones, the minority, marked.
    p
      | the system replaces jyutping ‹w› with ‹v›,
      |  as ‹v› is the primitive latin letter for [w] sound and cantonese does not need to distinguish [w, v].
      |  the author does not like digraphs like ‹ng, oe›, which breaks uniformity.
      |  we can avoid them as we have ‹q, w› unused.

  +mySection("千字文")
    div.center
      | 天地玄黃　宇宙洪荒<br/>
      | 日月盈昃　辰宿列張<br/>
      | 寒來暑往　秋收冬藏<br/>
      | 閏餘成歲　律呂調陽<br/>
      | 雲騰致雨　露結為霜<br/>
      | 金生麗水　玉出崑岡<br/>
      | 劍號巨闕　珠稱夜光<br/>
      | 果珍李柰　菜重芥薑<br/>
      | 海鹹河淡　鱗潛羽翔<br/>
      |<br/>
      | 龍師火帝　鳥官人皇<br/>
      | 始制文字　乃服衣裳<br/>
      | 推位讓國　有虞陶唐<br/>
      | 弔民伐罪　周發殷湯<br/>
      | 坐朝問道　垂拱平章<br/>
      | 愛育黎首　臣伏戎羌<br/>
      | 遐邇壹體　率賓歸王<br/>
      | 鳴鳳在樹　白駒食場<br/>
      | 化被草木　賴及萬方<br/>
      |<br/>
      | 蓋此身髮　四大五常<br/>
      | 恭惟鞠養　豈敢毀傷<br/>
      | 女慕貞絜　男效才良<br/>
      | 知過必改　得能莫忘<br/>
      | 罔談彼短　靡恃己長<br/>
      | 信使可覆　器欲難量<br/>
      | 墨悲絲染　詩讚羔羊<br/>
      |<br/>
      | 景行維賢　克念作聖<br/>
      | 德建名立　形端表正<br/>
      | 空谷傳聲　虛堂習聽<br/>
      | 禍因惡積　福緣善慶<br/>
      | 尺璧非寶　寸陰是競<br/>
      | 資父事君　曰嚴與敬<br/>
      | 孝當竭力　忠則盡命<br/>
      | 臨深履薄　夙興溫凊<br/>
      | 似蘭斯馨　如松之盛<br/>
      |<br/>
      | 川流不息　淵澄取映<br/>
      | 容止若思　言辭安定<br/>
      | 篤初誠美　慎終宜令<br/>
      | 榮業所基　籍甚無竟<br/>
      | 學優登仕　攝職從政<br/>
      | 存以甘棠　去而益詠<br/>
      |<br/>
      | 樂殊貴賤　禮別尊卑<br/>
      | 上和下睦　夫唱婦隨<br/>
      | 外受傅訓　入奉母儀<br/>
      | 諸姑伯叔　猶子比兒<br/>
      | 孔懷兄弟　同氣連枝<br/>
      | 交友投分　切磨箴規<br/>
      | 仁慈隱惻　造次弗離<br/>
      | 節義廉退　顛沛匪虧<br/>
      | 性靜情逸　心動神疲<br/>
      | 守真志滿　逐物意移<br/>
      | 堅持雅操　好爵自縻<br/>
      |<br/>
      | 都邑華夏　東西二京<br/>
      | 背邙面洛　浮渭據涇<br/>
      | 宮殿盤鬱　樓觀飛驚<br/>
      | 圖寫禽獸　畫綵仙靈<br/>
      | 丙舍傍啟　甲帳對楹<br/>
      | 肆筵設席　鼓瑟吹笙<br/>
      | 升階納陛　弁轉疑星<br/>
      | 右通廣內　左達承明<br/>
      | 既集墳典　亦聚羣英<br/>
      | 杜稾鍾隸　漆書壁經<br/>
      |<br/>
      | 府羅將相　路俠槐卿<br/>
      | 戶封八縣　家給千兵<br/>
      | 高冠陪輦　驅轂振纓<br/>
      | 世祿侈富　車駕肥輕<br/>
      | 策功茂實　勒碑刻銘<br/>
      | 磻溪伊尹　佐時阿衡<br/>
      | 奄宅曲阜　微旦孰營<br/>
      | 桓公匡合　濟弱扶傾<br/>
      | 綺迴漢惠　說感武丁<br/>
      | 俊乂密勿　多士寔寧<br/>
      |<br/>
      | 晉楚更霸　趙魏困橫<br/>
      | 假途滅虢　踐土會盟<br/>
      | 何遵約法　韓弊煩刑<br/>
      | 起翦頗牧　用軍最精<br/>
      | 宣威沙漠　馳譽丹青<br/>
      | 九州禹跡　百郡秦并<br/>
      | 嶽宗恆岱　禪主云亭<br/>
      | 雁門紫塞　雞田赤城<br/>
      | 昆池碣石　鉅野洞庭<br/>
      | 曠遠緜邈　巖岫杳冥<br/>
      |<br/>
      | 治本於農　務茲稼穡<br/>
      | 俶載南畝　我藝黍稷<br/>
      | 稅熟貢新　勸賞黜陟<br/>
      | 孟軻敦素　史魚秉直<br/>
      | 庶幾中庸　勞謙謹敕<br/>
      | 聆音察理　鑑貌辨色<br/>
      | 貽厥嘉猷　勉其祗植<br/>
      | 省躬譏誡　寵增抗極<br/>
      | 殆辱近恥　林皋幸即<br/>
      | 兩疏見機　解組誰逼<br/>
      |<br/>
      | 索居閑處　沈默寂寥<br/>
      | 求古尋論　散慮逍遙<br/>
      | 欣奏累遣　慼謝歡招<br/>
      | 渠荷的歷　園莽抽條<br/>
      | 枇杷晚翠　梧桐早凋<br/>
      | 陳根委翳　落葉飄颻<br/>
      | 遊鵾獨運　凌摩絳霄<br/>
      |<br/>
      | 耽讀翫市　寓目囊箱<br/>
      | 易輶攸畏　屬耳垣墻<br/>
      | 具膳飡飯　適口充腸<br/>
      | 飽飫烹宰　飢厭糟糠<br/>
      | 親戚故舊　老少異糧<br/>
      | 妾御績紡　侍巾帷房<br/>
      | 紈扇圓潔　銀燭煒煌<br/>
      | 晝眠夕寐　藍笋象床<br/>
      | 絃歌酒讌　接盃舉觴<br/>
      | 矯手頓足　悅豫且康<br/>
      |<br/>
      | 嫡後嗣續　祭祀烝嘗<br/>
      | 稽顙再拜　悚懼恐惶<br/>
      | 牋牒簡要　顧答審詳<br/>
      | 骸垢想浴　執熱願涼<br/>
      | 驢騾犢特　駭躍超驤<br/>
      | 誅斬賊盜　捕獲叛亡<br/>
      |<br/>
      | 布射遼丸　嵇琴阮嘯<br/>
      | 恬筆倫紙　鈞巧任釣<br/>
      | 釋紛利俗　並皆佳妙<br/>
      | 毛施淑姿　工顰妍笑<br/>
      | 年矢每催　曦暉朗耀<br/>
      | 璇璣懸斡　晦魄環照<br/>
      | 指薪修祜　永綏吉劭<br/>
      | 矩步引領　俯仰廊廟<br/>
      | 束帶矜莊　徘徊瞻眺<br/>
      | 孤陋寡聞　愚蒙等誚<br/>
      | 謂語助者　焉哉乎也
